.cuadroRotado{
    transform: rotate(2deg);
    
}

.monito-44{
    display:none;

}
@media all and (max-width: 800px) {

  .mono{
display: none;
  }
  
}

 .cb-ep-paper {
    position: relative;
    width: calc(100% - 100px);
    margin: 10px auto 16px;
    /*max-width: 600px;*/
  }


.cb-ep-paper-content {
    position: relative;
    z-index: 3;
    background: #ffffff;
    padding: 20px 40px;
    font-size: 16px;
    border: 1px solid rgb(222, 222, 222);
     
  }

  
.cb-ep-paper::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #E0CACC;
 
  left: 0;
  top: 0;
}
.cb-ep-paper::after {
    z-index: 1;
    transform: rotate(-2deg);
    }