
.cabecera-25{
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  height: auto;
  padding-bottom: 30px;
}
.mxwp-a {
  max-width: 250px;
}
.centrar-horizontal {
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (max-width: 767px) {
  .margen-25 {
      margin-bottom: 10px;
  }
}
@media (max-width: 608px) {
  .cabecera-25 {
      height: 180px;
  }
}
@media (max-width: 591px) {
  .cabecera-25 {
      height: 190px;
  }
}