.espirales-creacion-47{
  height: auto;
  width: 160px;
  margin-top: 65px;
  margin-left: -93px;
  visibility: visible;
  
  }
  

  .alinea {
    margin: 0 auto;
  }
  

  .espiral-calado-49{
    background-image: url(images/page_049/espiral_espacio.png);
    background-repeat: repeat-x;
    background-size: contain;
  }
  
  .espiral-calado-2-49{
    height:26px ;
    background-image: url(images/page_049/espiral_espacio.png);
    background-repeat: repeat-x;
    background-size: contain;
}



 
@media (max-width: 760px) {
 
  .cabecera {
      height: 200px;
  }
 
 
}
@media (max-width: 767px) {
 
  .espirales-creacion-47{
    transform: rotate(90deg);
    height: auto;
    width: 160px;
    margin-top: -52px;
    margin-left: 29%;
    visibility: visible;
    
    }
 
}
 

 
 
 



