.ep-page52 {
  background: url(images/page_052/fondo_001.svg) top center/contain no-repeat;
  background-size: cover, 100%;
  -webkit-print-color-adjust: exact !important;
}


.cinta-texto-52 {
  max-width: 300px;
  height: 35px;
  transform: rotate(-5deg);
}


.gira5{
  transform: rotate(5deg);
}