.ep-page51 {
  background: url(images/page_051/fondo_001.svg) top center/contain no-repeat;
  background-size: cover, 100%;
  -webkit-print-color-adjust: exact !important;
}

.border-dosier
.cb-dossier {
  width: 50%;
}
.border-caja {
  border: 2px dashed;
  border-color: var(--pidgey)

}
.mep--50 {
  margin-left: -50px;
}
.w-100 {
  width: 100%;
}
.centrar {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important
}
.mxwp-300 {
  max-width: 300px;
}
.msp-340 {
  margin-left: 340px;
}