.cabecera {
    -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 8% 0%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background-color: var(--pidgey);
    height: 130px;
}


.container-row {
    margin-left: 20px;
    margin-right: 20px;

}

.cajota {

    margin-left: 10px;
    margin-right: 40px;
    overflow: hidden;
    max-width: 550px;


}

.cajota1 {
    margin-left: 160px;
    overflow: hidden;
    max-width: 550px;


}

.interior-caja {
    background-color: white;
    margin: -8px -8px 10px -8px;
    border-radius: 8px 8px 0px 0px;
    padding: 5px 10px;
}

.espacio {
    height: 160px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.linea {
    border-bottom: 2px dotted gray;
    padding-top: 30px;
    padding-bottom: 0px;

}

.radio {
    top: 240px;
    left: 600px;
    transform: translate(-50%, -50%);
    text-align: center;

}

.hoja {
    top: 620px;
    left: 70px;
    transform: translate(-50%, -50%);
    text-align: center;

}

.niño {
    top: 520px;
    left: 650px;
    transform: translate(-50%, -50%);
    text-align: center;

}



.niño2 {
    top: 930px;
    left: 110px;
    transform: translate(-50%, -50%);
    text-align: center;

}


@media all and (max-width: 992px) {
    .radio {
        display: none;

    }

    .hoja {
        display: none;

    }

    .niño {
        display: none;

    }

    .niño2 {
        display: none;

    }

    

    .cajota {
        margin: 0 auto;

    }

    .cajota1 {
        margin: 0 auto;

    }


}



@media all and (max-width: 680px) {
    .cajota {
        margin: 0 auto;

    }

    .cajota1 {
        margin: 0 auto;

    }

    .container-row {

        margin: 0 auto;
    }


}