.cb-page53 {
  background: url(images/page_039/fondo_001.svg) top center/cover no-repeat;
  width: 100% !important;
  height: 100% !important;
  -webkit-print-color-adjust: exact !important;
}
.linea {
  border-bottom: 1px dashed #dedede;
  padding-top: 5px;
  border-color: var(--dark);
}
.centrar-ver {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.centrar-hor {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mxwp-230 {
    max-width: 230px;
}
.mxwp-280 {
  max-width: 280px;
}
.mxwp-520 {
  max-width: 520px;
}
.mtp--10 {
  margin-top: -10px;
}
.mlp--30 {
  margin-left: -30px;
}
.mrp--30 {
  margin-right: 0px;
}
.tf-notebook {
  display: flex;
  position: absolute;
  z-index: 1;
}
.tf-crayones {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 50px
}
.tf-bloc {
  display: flex;
  position: absolute;
  left: 40px;
  top: 400px;
  z-index: 1;
}
.tf-ampolleta {
  display: flex;
  position: absolute;
  right: 55px;
  top: 620px;
  z-index: 1;
}
.tf-celular {
  display: flex;
  position: absolute;
  right: 40px;
  top: 890px;
  z-index: 1;
}
.tf-nota {
  display: flex;
  position: absolute;
  left: 40px;
  top: 950px;
  z-index: 1;
}