.espirales-creacion-47{
  height: auto;
  width: 160px;
  margin-top: 65px;
  margin-left: -93px;
  visibility: visible;
  
  }
  
 
@media (max-width: 760px) {
 
  .cabecera {
      height: 200px;
  }
 
 
}
 

 
 
 



