
.cb-titulo-caja-p57{
  position: absolute;
  margin-top: -37px;
  margin-left: 46px;
  z-index: 11;
}

.cb-padding{
  padding-left: 6%; 
  padding-right: 6%;
}

.cb-contenedor-p57 {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  width: 100%;
  display: flex;
}
.cb-outline-p57{
  outline: solid 2px #ffffff;
  outline-offset: -6px;
}


.cb-block-p57 {
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
.cb-block-2-p57 {
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  
  width: 100%;
  box-shadow: 1px 1px 8px 3px rgb(0 0 0 / 20%);
}

.cb-texto-nube{
  position: absolute;
  right: -18px;
  top: -32px;
  transform: rotate(5deg);
  width: 70px;
}
.cb-lapiz{
  position: absolute;
    left: 5px;
    bottom: 30px;
    transform: rotate(-4deg);
}
.cb-sujetador-1{
  position: absolute;
  left: 305px;
  top: -11px;
  z-index: 1;
  width: 60px;
}
.cb-sujetador-2{
  position: absolute;
  right: -32px;
  top: -11px;
  z-index: 1;
  width: 60px;
}

.cb-contenedor-dos-p57 {
    margin-right: auto;
    margin-left: auto;
    max-width: 650px;
    width: 100%;
    display: flex;
}

.cb-caja1-p57{
  position: absolute;
  top:20px;
  right: -10px;
  width: 100%;
  border-radius: 5px;
}

.cb-caja2-p57{
  position: absolute;
  bottom: -10px;
  right: -19px;
  width: 103%;
  border-radius: 5px;
}
.cb-caja3-p57{
  border-radius: 5px;
  }
.cb-caja4-p57{
  border-radius: 5px;
}
.cb-psp{
  padding-left: 10px;
}
.cb-psp2{
  padding-left: 20px;
}




@media (max-width: 660px) {
 

   .cb-block{
    max-width: 100%;
    margin-bottom: 10px;
  }
  .cb-contenedor-dos{
    display: inline;
  }
  .cb-caja1{
    position: unset;
    width: 100%;
    margin-bottom: 10px;
  }
  .cb-caja2{
    position: unset;
    width: 100%;
    margin-bottom: 10px;
  }
  .cb-caja3{
    margin-bottom: 10px;
  }
  .cb-psp{
    padding-left: unset;
  }
  .cb-psp2{
    padding-left: unset;
  }

}

@media (max-width: 760px) {
  .cambio {
      padding: 0;
  }
  .cabecera {
      height: 200px;
  }
  .centrar {
      text-align: center;
      padding: 10px 13px 0px 13px  !important;
      justify-content: center;
  }
  .centrar-2 {
    text-align: center;
    padding: 10px 25px 0px 25px  !important;
    justify-content: center;
}

}
