.cb-page30 {
  background: url(images/page_030/fondo_001.svg) top center/contain no-repeat;
  background-size: cover, 100%;
  -webkit-print-color-adjust: exact !important;
}
.caja-30-1{
  
  border-color: #dcddde;
}

.caja-30-2{
  
  border-color: #fdd3b1;
  border-radius: 20px;
  border-width: 8px;
}


