.cb-page80 {
    background: url(images/page_080/Fondo_001T.svg) top center/cover no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
 
  .bloque-blanco {
    min-width: 200px;
    min-height: 300px;
    border-radius: 0px 10px 10px 10px;
  }
  
  .style-title {
    max-width: 250px;
    font-size: 16px;
    font-family: ubuntu-M, sans-serif;
    color: #fff;
  }
  
  .tf-camara {
      display: flex;
      position: absolute;
      right: 20px;
      top: 60px;
      z-index: 1;
      height: 90px;
    }
    .tf-focos {
      display: flex;
      position: absolute;
      left: 65px;
      top: 315px;
      z-index: 1;
      height: 70px;
    }
    .tf-celulares {
      display: flex;
      position: absolute;
      right: 25px;
      top: 550px;
      z-index: 1;
      height: 90px;
    }
    .tf-hoja {
      display: flex;
      position: absolute;
      left: 70px;
      top: 680px;
      z-index: 1;
      height: 80px;
    }
    .tf-persona {
      display: flex;
      position: absolute;
      right: 150px;
      top: 660px;
      z-index: 1;
      height: 300px;
    }
    
    @media all and (max-width: 815px) {
      .tf-persona {
          display: none;
          position: none;
          visibility: hidden;
          right: 30px;
          bottom: 25px;
          z-index: 1;
          height: 280px;
        }
    }
  
  
  
 