.cb-page30 {
  background: url(images/page_030/fondo_001.svg) top center/contain no-repeat;
  background-size: cover, 100%;
  -webkit-print-color-adjust: exact !important;
}
.caja-29{
  background-color: #d1e6f7;
  border-color: #009edc;
}

