.cabecera-21 {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  height: auto;
  padding-bottom: 30px;
}

.container-row {
  margin-left: 20px;
  margin-right: 20px;

}

.bloque-respuesta-23 {
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
}

.rota-23 {
  transform: rotate(8deg);
}

@media (max-width: 767px) {
  .margen-21 {
    margin-bottom: 10px;
  }
}

@media (max-width: 608px) {
  .cabecera-21 {
    height: 150px;
  }



  .cambio-21 {
    padding-top: 10px;
  }
}

@media (max-width: 591px) {
  .cabecera-21 {
    height: 150px;
  }
}

@media (max-width: 575px) {

  .cabecera-21 {
    height: 150px;
  }




}

@media (max-width: 463px) {
  .cabecera-21 {
    height: 150px;
  }
}