
  .cb-pad{
    padding-left: 6%;
    padding-right: 6%
  }

.cb-block-p58 {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}
.cb-block2-p58 {
  max-width: 200px;
  width: calc(100% - 30px);
  align-items: start;
  justify-content: start;
  display: flex;
   position: absolute;
}

.rounded-caja {
    border-radius: 20px 20px 0px 0px;
}

.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color:var(--lightDark);
}

.cb-personaje-p58{
    position: absolute;
    right: 55px;
    top: -106px;
    transform: rotate(1grad);
    width: 190px;
  }
  .cb-engranajes-p58{
    position: absolute;
    left: 55px;
    top: -55px;
    width: 90px;
  }
  .cb-border-pikachu{
    border-top: 1px solid var(--pikachu);
  }
.cb-contenedor-tabla-texto{
  width: 100%;
  max-width: 400px;
  padding-right: 10px;
}

.cb-contenedor-tabla-p58{
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 60px);
}
.flecha-bulma {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent var(--pikachu);
}
.min-hp-135 {
  min-height: 135px;
}

@media (min-width: 768px) {
.border-derecha {
  border-color: var(--goten);
  border: 1px solid #ff0000;
  border-style: dashed;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
}
.pep-50-r {
  padding-right: 50px;
}
.marco-inferior {
  z-index: 1;
}
.visible-res {
  visibility: hidden;
}
.psp-40-r {
  padding-left: 40px;
}
.psp-30-r {
  padding-left: 30px;
}
.nunca {
  font-size: 16px;
  min-width: 50px;
}
.siempre {
  font-size: 16px;
  min-width: 70px;
}
}
@media (max-width: 768px) {
  .border-derecha {
    border-color: var(--goten);
    border: 1px solid #ff0000;
    border-style: dashed;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
  }
  .ajuste-anillos {
    margin-top: 50px;
  }
  .visible-res {
    visibility: visible;
  }
  .pep-50-r {
    padding-right: 0px;
  }
  .psp-40-r {
    padding-left: 20px;
  }
  .psp-30-r {
    padding-left: 15px;
  }
  .nunca {
    font-size: 14px;
    min-width: 20px;
  }
  .siempre {
    font-size: 14px;
    min-width: 60px;
  }
}