.bloque-respuesta-23 {
  box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
}




.borde-23-1 {
  border: 4px solid;
  border-color: #93ca4c;
  
  
}

.borde-23-2 {
  border: 4px solid;
  border-color: #f5accc;
  
}

.borde-23-3 {
  border: 4px solid;
  border-color: #10c4f4;
  
  
}

.dibujo{
  right:-34px;
  top:-117px;
}

