.nat-page11 {
   background: url(images/page_053/fondo_001.svg) #b80e80 top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;

}
.t-shadow{
    text-shadow: -7px -8px #8b288f;
}

@media all and (max-width: 500px) {

    .ft-m {
        font-size: 50px;
     }
}