
  
    
    .cajota{
      height: 800px;
      margin-left:40px;
      margin-right:40px;
     
      
    }
 


    .paleta{
      top: 260px;
      left: 725px;
      transform: translate(-50%, -50%);
      height: auto;
      width: 160px;
      text-align: center;
      visibility: visible;
    }

    .pincel{
        top: 550px;
        left: 95px;
        transform: translate(-50%, -50%);
        height: auto;
        width: 45px;
        text-align: center;
        visibility: visible;
      }

      .pintor{
        top: 940px;
        left: 100px;
        transform: translate(-50%, -50%);
        height: auto;
        width: 600px;
        text-align: center;
        visibility: visible;
      }
    
      .afiche{
        top: 890px;
        left: 600px;
        transform: translate(-50%, -50%);
        height: auto;
        width: 400px;
        text-align: center;
        visibility: visible;
      }
     
      .cajaafiche-1{
        visibility: visible;
      }
      .cajaafiche-2{
        display:none;
      }
      @media (max-width: 768px) {
        .cajaafiche-1{
          display:none;
        }
        .cajaafiche-2{
          display:block;
        }

      }
        
        @media (max-width: 992px) {
          .paleta{
            top: 260px;
            left: 725px;
            transform: translate(-50%, -50%);
            height: auto;
            width: 160px;
            text-align: center;
            visibility: hidden;
          }
      
          .pincel{
              top: 550px;
              left: 95px;
              transform: translate(-50%, -50%);
              height: auto;
              width: 45px;
              text-align: center;
              visibility: hidden;
            }
      
            .pintor{
              top: 940px;
              left: 100px;
              transform: translate(-50%, -50%);
              height: auto;
              width: 350px;
              text-align: center;
              visibility: hidden;
            }
            .afiche{
                top: 890px;
                left: 620px;
                transform: translate(-50%, -50%);
                height: auto;
                width: 600px;
                text-align: center;
                visibility: hidden;
              }
        }
        @media (max-width: 576px) {
          .cajota{
            margin: 0 auto; 
            
            }
        }

        