.sombra {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.flecha-pidgey {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #009dc5;
}
.flecha-pikachu {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #b80e80;
}
.flecha-goten {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #ea5153;
}
.flecha-balrog {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #45ad4e;
}
.giro-270 {
  transform: rotate(270deg);
}
.anillado-1 {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 50px;
  margin-left: -132px;
}
.msp--108-rel {
  margin-left: -108px;
}
.linea-pidgey {
  border-right: 2px solid var(--tshinhan);
  height: 330px;
  margin-top: -130px;
  margin-bottom: -180px;
}
.linea-pikachu {
  border-bottom: 2px solid var(--tshinhan);
  max-width: 580px;
  margin-left: -305px;
  margin-top: 20px;
}
.vis-responsive {
  visibility: hidden;
  display: none;
}
.hidden-responsive {
  visibility: visible;
}

@media (max-width: 770px) {
  .vis-responsive {
    visibility: visible;
  }
  .hidden-responsive {
    visibility: hidden;
  }
  .anillado-1 {
    height: 60px;
    margin-left: -156px;
  }
  .linea-pidgey {
    border-right: 2px solid var(--red);
    height: 50px;
  }
  .linea-pikachu {
    border-bottom: 2px solid var(--red);
height: 50px;
  }
}
