
.espiral{
  background-image: url(images/page_034/espiral.png);
  background-repeat: repeat;
  background-size: contain;
  /* background-color: #ffcc00; */
}
.espiral-calado{
  background-image: url(images/page_034/espiral_1.png);
  background-repeat: repeat;
  background-size: contain;
}

.rota{
  transform: rotate(1deg);
}

.cuadro-clic {
  background: url(images/page_034/cuadro.svg) top center/contain no-repeat;
  background-size: cover, 100%;
  -webkit-print-color-adjust: exact !important;
  width: 30px;
}