.esquina-ts {
  border-top-left-radius: 20px;
}
.esquina-te {
  border-top-right-radius: 20px;
}
.medio-top {
  border-radius: 0px 0px 0px 0px;
}
.medio-bot {
  border-radius: 0px 0px 0px 0px;
}
.esquina-bs {
  border-bottom-left-radius: 20px;
}
.esquina-be {
  border-bottom-right-radius: 20px;
}
.msp--24-r {
  margin-left: -24px;
}
.mtp--220 {
  margin-top: -220px;
}
.centrar-ver {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.alto-res {
  min-height: 65px;
}
.ptp-res {
  padding-top: 8px;
}
.ptp-a-res {
  padding-top: 8px;
}
.tf-lupa {
  display: flex;
  position: absolute;
  left: 40px;
  bottom: 180px;
  z-index: 1;
}
.tf-postit {
  display: flex;
  position: absolute;
  right: 120px;
  bottom: 440px;
  z-index: 1;
}

.w-100-p13 {
  width: 108%;
}
@media (max-width: 782px) {
  .alto-res {
    min-height: 90px;
  }
  .ptp-res {
    padding-top: 20px;
  }

}
@media (max-width: 767px) {
  .esquina-ts {
    border-radius: 20px 20px 0px 0px;
  }
  .esquina-te {
    border-radius: 20px 20px 0px 0px;
    padding-top: 20px;
  }
  .medio-top {
    border-radius: 20px 20px 0px 0px;
  }
  .medio-bot {
    border-radius: 0px 0px 20px 20px;
  }
  .esquina-bs {
    border-radius: 0px 0px 20px 20px;
  }
  .esquina-be {
    border-radius: 0px 0px 20px 20px;
  }
  .msp--24-r {
    margin-left: 0px;
  }
  .alto-res {
    min-height: 65px;
  }
  .ptp-a-res {
    padding-top: 20px;
  }
  .tf-lupa {
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 450px;
    z-index: 1;
  }
  .tf-postit {
    display: flex;
    position: absolute;
    right: 60px;
    bottom: 920px;
    z-index: 1;
  }
  .w-100-p13 {
    width: 100%;
  }
}
