.cabecera{
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
  background-color: var(--bulma);
  height: 80px;
}

.mtp--2 {
  margin-top: -10px;
}
.cb-border-multi{
  border:2px transparent solid;
  border-image:-webkit-linear-gradient(left,red,blue,yellow,orange) 1 10;
  border-radius: 10px !important;
}
.flecha-saitama {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent var(--saitama);
}
 
.contenedor-creacion-46 {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 30px);
}

.linea-separa-creacion {
  border-top: 2px var(--saitama) solid;
}

.linea-separa-creacion-int {
  border-top: 1px var(--saitama) solid;
}

.rounded-be-30 {
  border-bottom-right-radius: 37px;
}

.msp--16 {
  margin-left: -18px;
}

@media (max-width: 591px) {
  .cabecera {
    height: 80px;
  }
  .espacio-titulo{
    margin-bottom: 10px;
  }

  .margen-centro{
    align-items: center;
    justify-items: center;
    height: 35px;
    margin-left: 40px;
  }

  .tf-contenido-caja-telefono {

    position: relative;
    margin-right: 190px;
    margin-left: auto;
    max-width: 550px;
    width: calc(100% - 30px);
    flex-wrap: nowrap;

  }


}




@media all and (max-width: 800px) {

    .titulo-linea .linea{
        width: 100%;
    }

    .tf-iphone-18 {
        display: none;
    }

    .tf-lapiz-18 {
      display: none;
  }

    .tf-contenido-cajas {
        flex-wrap: wrap;
      }
    .tf-flecha{
        padding-bottom: 13px;
    }
    .padding-box-18-1{
      padding-right: 0;
    }
    .padding-box-18-2{
      padding-left: 0;
    }

      
}