.cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--pidgey);
    height: 165px;
}

.caja-flotante {
    /* background-color: aqua; */
    max-width: 820px;
    width: 100%;
}

.container-row {
    margin-left: 50px;
    margin-right: 50px;

}
.ocultar{
    display:none;
}

.linea {
    border-bottom: 2px dotted gray;
    padding-top: 30px;
    padding-bottom: 0px;

}

.linea1 {
    margin: 0 auto;

}

.caja1 {
    justify-content: center;
    align-items: center;
    display: flex;
}
.flecha{
    margin-left: 311px;
    margin-top: -140px;
    z-index: 2;
}
.flecha1{
    margin-left: 311px;
    margin-top: 55px;
    z-index: 2;
}
.flecha2{
    margin-left: 311px;
    margin-top: 255px;
    z-index: 2;
}
.flecha3{
    margin-left: 311px;
    margin-top: 455px;
    z-index: 2;
}
.calendario{
    margin-left:290px;
    margin-top: -80px;
    z-index: 2;
}
.catalejo{
    margin-top: 780px;
    margin-left: -250px;
    z-index: 2; 
}
.caja {
    background-image: url(images/page_051/caja.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12px;
    width: 158px;
    height: 56px;
    text-align: center;
}

.cajita {

    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--pidgey);
}



@media (max-width: 992px) {
    .ocultar{
        display:block;
    }
    .oculta{
        display:none;
    }
    .calendario {
        display:none;
    }

    .catalejo {
        display:none;
    }
    .flecha{
        display:none;
    }
    .flecha1{
        display:none;
    }
    .flecha2{
        display:none;
    }
    .flecha3{
        display:none;
    }
    
}
@media (max-width: 727px) {
    .cabecera {
        height: 190px;
    }

    .centrar {
        justify-content: center;
    }
}

@media (max-width: 613px) {
    .cabecera {
        height: 215px;
    }
}

@media (max-width: 584px) {
    .cabecera {
        height: 260px;
    }

    .cambio {
        padding-top: 3px;
    }
}

@media (max-width: 575px) {
    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
    }

    .cabecera {
        height: 340px;
    }

    .rotar-flecha {
        transform: rotate(90deg);
        padding-top: 20px;
    }

    .separa {
        padding-top: 10px;
    }
}

@media (max-width: 425px) {
    .cabecera {
        height: 370px;
    }
}

@media (max-width: 423px) {
    .cabecera {
        height: 390px;
    }
}