
  .gira--2{
    transform:rotate(-2deg);
}
  .gira-2{
    transform:rotate(2deg);
}

.mxw-92 {
  max-width: 90%;
}

.msp--115 {
  margin-left: -115px;
}

@media all and (max-width: 768px) {
  .mxw-92 {
    max-width: 92%;
  }
}