.mnw-100 {
    min-width: 100%;
}

.caja-p15 {
    width: 350px;
    min-height: 110px;
    border: 2px dashed;
    border-color: var(--pidgey);
}

.linea-p15 {
    border: 2px dashed;
    border-color: var(--pidgey);
}

.recorrido-p15 {
    border: 10px dashed;
    border-color: var(--soldados);
}

.border-solo-bot {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.border-solo-end {
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
}

.wp-1000 {
    width: 1000px;
}

.hp-700 {
    height: 700px;
}

.hp-600 {
    padding-top: 600px;
}

.msp--970 {
    margin-left: -970px;
}

.hp-900 {
    height: 900px;
}
.mtp-30p15 {
    margin-top: -30px;
}


@media (min-width: 801px) {
    .wp-290-p15 {
        width: 290px;
    }

    .wp-240-p15 {
        width: 240px;
    }

    .wp-190-p15 {
        width: 190px;
    }

    .msp--180-p15 {
        margin-left: -180px;
    }

    .msp-50-rp15 {
        margin-left: 50px;
    }

    .msp-100rp15 {
        margin-left: 100px;
    }
}

@media (max-width: 800px) and (min-width: 720px) {

    .wp-290-p15 {
        width: 220px;
    }

    .wp-240-p15 {
        width: 170px;
    }

    .msp--180-p15 {
        margin-left: -180px;
    }

    .msp-50-rp15 {
        margin-left: 50px;
    }

    .wp-190-p15 {
        width: 170px;
    }

    .msp-100rp15 {
        margin-left: 50px;
    }
}

@media (max-width: 720px) and (min-width: 620px) {

    .wp-290-p15 {
        width: 240px;
    }

    .wp-240-p15 {
        width: 240px;
    }

    .msp--180-p15 {
        margin-left: -180px;
    }

    .msp-50-rp15 {
        margin-left: 0px;
    }

    .wp-190-p15 {
        width: 240px;
    }

    .msp-100rp15 {
        margin-left: 0px;
    }

    .caja-p15 {
        min-width: 250px;
        min-height: 100px;
        border: 2px dashed;
        border-color: var(--pidgey);
    }
}

@media (max-width: 620px) {

    .wp-290-p15 {
        width: 180px;
    }

    .wp-240-p15 {
        width: 180px;
    }

    .msp--180-p15 {
        margin-left: -100px;
    }

    .msp-50-rp15 {
        margin-left: 0px;
    }

    .wp-190-p15 {
        width: 180px;
    }

    .msp-100rp15 {
        margin-left: 0px;
    }

    .caja-p15 {
        width: 230px;
        min-height: 100px;
        border: 2px dashed;
        border-color: var(--pidgey);
    }
    .mtp-30p15 {
        margin-top: 50px;
    }
}