.flequillo-p14 {
    background-image: url(images/page_014/flequillo.svg);
    background-repeat: repeat;
    background-size: contain;
    /* background-color: #ffcc00; */
}

.sombra-1 {
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.28);
}