
.cloud:after, .cloud:before {
  content: '';
  position: absolute;
  background: #FFF;

}
.cloud2:after, .cloud2:before {
  content: '';
  position: absolute;
  background: #FFF;

}
.cloud2:after {
  width: 170px;
  height: 170px;
  top: -100px;
  right: calc(50% - 180px);
  border-radius: 100px;
}

.cloud2:before {
  width: 140px;
  height: 140px;
  top: -50px;
  right: calc(50% - 260px);
  border-radius: 200px;
}

.cloud:after {
  width: 110px;
  height: 110px;
  top: -40px;
  left: calc(50% - 260px);
  border-radius: 100px;
}

.cloud:before {
  width: 200px;
  height: 200px;
  top: -90px;
  left: calc(50% - 160px);
  border-radius: 200px;
}
.cloud3:after, .cloud3:before {
  content: '';
  position: absolute;
  background: #FFF;

}
.cloud4:after, .cloud4:before {
  content: '';
  position: absolute;
  background: #FFF;

}
.cloud4:after {
  width: 170px;
  height: 170px;
  top: -100px;
  right: calc(50% - 180px);
  border-radius: 100px;
}

.cloud4:before {
  width: 140px;
  height: 140px;
  top: -50px;
  right: calc(50% - 260px);
  border-radius: 200px;
}

.cloud3:after {
  width: 110px;
  height: 110px;
  top: -40px;
  left: calc(50% - 240px);
  border-radius: 100px;
}

.cloud3:before {
  width: 200px;
  height: 200px;
  top: -90px;
  left: calc(50% - 160px);
  border-radius: 200px;
}

.cb-calc{
  width: calc(100% - 60px);
}
.caja-clou-mini{
  margin-left: 60px;
}
@media all and (min-width: 717px){
.position-absolute-767{
  position: absolute;
}
}

@media all and (max-width: 717px){
  .caja-clou-mini{
    margin-left: auto;
    margin-right: auto;
  }

}