@media (min-width: 767px) {
    .espaciado-p39 {
        padding-top: 20px;
    }

    .hoja-p39 {
        margin-top: 0px;
        margin-left: -320px;
    }

}

@media (max-width: 767px) {
    .espaciado-p39 {
        padding-top: 60px;
    }

    .hoja-p39 {
        margin-top: 40px;
        margin-left: -40%;
    }



}

@media (max-width: 771px) {
    .ptp-p39 {
        padding-top: 20px;
    }
}