.caja-p16 {
    max-width: 210px;
    min-height: 160px;
}

.border-dashed {
    border-style: dashed;
}

.ovalo-p16 {
    width: 160px;
    height: 80px;
    border-radius: 100px / 50px;
}

.wp-1 {
    width: 1px;
}

.centrar-hor {
    margin-left: auto !important;
    margin-right: auto !important;
}

.centrar {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.ms-a {
    margin-left: -50px;
}