.mxwp-160 {
    max-width: 160px;
}

.centrar-hor {
    margin-left: auto !important;
    margin-right: auto !important;
}

.flex-column {
    direction: column !important;
}

.giro--4deg {
    transform: rotate(-4deg) !important;
}

.msp--320 {
    margin-left: -320px;
}

.caja-num-p19 {
    width: 50px;
    height: 70px;
}

.caja-texto-p19 {
    width: 100%;

}

.msp--2 {
    margin-left: -2px;
}

.msp-40-rp19 {
    margin-left: 40px;
}

.msp-80-rp19 {
    margin-left: 80px;
}

.msp-120-rp19 {
    margin-left: 120px;
}

.msp-160-rp19 {
    margin-left: 160px;
}

.msp-200-rp19 {
    margin-left: 200px;
}

.mtp-17 {
    margin-top: 17px;
}

@media all and (max-width: 700px) {
    .msp-40-rp19 {
        margin-left: 0px;
    }

    .msp-80-rp19 {
        margin-left: 0px;
    }

    .msp-120-rp19 {
        margin-left: 0px;
    }

    .msp-160-rp19 {
        margin-left: 0px;
    }

    .msp-200-rp19 {
        margin-left: 0px;
    }
}