.cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--android18);
    height: 90px;
}

.caja {
    background-image: url(images/page_021/caja.svg);
    background-size: cover;
    padding-top: 12px;
    width: 158px;
    height: 56px;
    text-align: center;
    
}

.container-row {
    margin-left: 20px;
    margin-right: 20px;

}

.cajota {
    height: 800px;
    margin-left:10px;
    margin-right:10px;



}

.dibujo {
    top: 906px;
    left: 110px;
    transform: translate(-50%, -50%);
    text-align: center;

}
@media (max-width: 992px) {
    .dibujo {
      display:none;
    }
  }

@media (max-width: 608px) {
    .cabecera {
      height: 150px;
    }
    .centrar {
      justify-content: center;
    }
    .cambio {
      padding-top: 3px;
    }
  }
  @media (max-width: 591px) {
    .cabecera {
      height: 130px;
    }
  }
  @media (max-width: 575px) {
    
    .cabecera {
      height: 130px;
    }
    .cajota{
        margin:0 auto;
    }
    .separa {
        padding-top: 10px;
      }
  }
  
  @media (max-width: 463px) {
    .cabecera {
      height: 150px;
    }
  }
