.cb-page19 {
    background: url(images/page_017/fondo_001.svg) top center/cover no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  .margin-auto {
      margin-left: auto !important;
      margin-right: auto !important;
  }
  .cuadrado {
    width: 40px;
    height: 40px;
  }
  .tamaño {
      min-width: 150px;
      max-width: 150px;
  }
  .mtp--85 {
      margin-top: -85px;
  }
  .mtp--8 {
      margin-top: -8px;
  }
  .mtp--35 {
      margin-top: -35px;
  }
  .ms-15 {
      margin-left: 15%;
  }
  .texto-izq {
      text-align: left !important;
  }