  .cabecera{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 95%);
    background-color: var(--bulma);
    height: 90px;
  }
  .w-120 {
    flex:0 0 auto;
    width:120%
  } 
  .mtp--45 {
    margin-top: -45px;
  }  
  .mtp--10 {
    margin-top: -10px;
  }
  
  .mtp--65 {
      margin-top: -65px;
    }
    .mtp--40 {
        margin-top: -40px;
      }
    
    .msp-8 {
        margin-left: 8px;
      }