#page_056{
    min-height: 820px;
}

.cb-lineas {
    background: url(images/page_056/fondo.svg)  top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 }

 .cb-outline-p56{
    outline: solid 2px #b80e80;
    outline-offset: -3px;
}
.cb-contenedor-1{
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
}
.cb-contenedor-2{
    margin-left: 110px;
    margin-bottom: 70px;
    display: flex;
    margin-top: 60px;
}
.cb-contenedor-3{
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
}


.cb-titulo{
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: left;
}
.cb-cohete{
    margin-bottom: 30px;
}

.cb-cabecera{
    display: flex;
}

@media all and (max-width: 820px) {

    .cb-lineas {
        background: url(images/page_056/fondo_movile.svg) top left/ cover no-repeat !important;
     }

     #page_074{
        min-height: 100% !important;
    }

    .cb-contenedor-1{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .cb-contenedor-2{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .cb-contenedor-3{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .cb-titulo{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .cb-cohete{
        display: flex;
        justify-content: center;
        transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
    }
    .cb-cabecera{
        display: inline;
    }
    
}