.cb-cabecera {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
  background-color: var(--bulma);
  height: 80px;
}
.bloque {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  border: 1px solid #878786;
}
.linea {
  border-bottom: 2px dotted #9f9f9f;
  padding-bottom: 1px;
}
.alto {
  min-height: 120px;
  padding-left: 5px;
  padding-right: 5px;
}
.basura {
  margin-top: 190px;
  margin-left: -20px;
  width: 35%;
  height: 35%;
  visibility: visible;
}
.anillo {
  margin-top: -31px;
  margin-left: 2px;
  height: 35px;
}

.imagen-dos {
  margin-left: -50px;
}
.imagen-tres {
  margin-left: -50px;
  margin-right: 10px;
}
@media (min-width: 992px) {
  .anillo-dos {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: hidden;
    display: flex;
    position: absolute;
  }
  .anillo-tres {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: hidden;
    display: flex;
    position: absolute;
  }
}

@media (max-width: 992px) {
  .basura {
    margin-top: 190px;
    margin-left: -20px;
    width: 110%;
    visibility: hidden;
    display: flex;
    position: absolute;
  }
  .anillo-dos {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: visible;
  }
  .anillo-tres {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: visible;
  }
}
@media (max-width: 820px) {
  .imagen-dos {
    margin-left: 0px;
  }
}
@media (max-width: 730px) {
  .anillo-dos {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: visible;
  }
  .anillo-tres {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: hidden;
    display: flex;
    position: absolute;
  }
}

@media (max-width: 536px) {
  .anillo-dos {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: hidden;
    display: flex;
    position: absolute;
  }
  .anillo-tres {
    margin-top: -31px;
    margin-left: -5px;
    height: 35px;
    visibility: hidden;
    display: flex;
    position: absolute;
  }
}