.cb-cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    background-color: var(--bulma);
    height: 80px;
  }
  .circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--bulma);
}
  .msp--40 {
      margin-left: -40px;
  }
  .mtp--20 {
      margin-top: -20px;
  }
  .mtp-30 {
      margin-top: 30px;
  }
  .mnh-200 {
      min-height: 200px;
  }
  .mtp-5 {
      margin-top: 5px;
  }
  .mnw-120 {
      min-width: 120px;
  }
  .linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color:var(--dark);
}
.mnw-50 {
    min-width: 50px;
}
.mw-100 {
    max-width: 100%;
}

