 .cb-cabecera{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    background-color: var(--goten);
    height: 80px;
  }


.block-border-yellow {
    border: 10px solid #ffefc3;
    border-radius: 20px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: calc(100% - 30px);
}

.superhero-image {
    position: absolute;
    top: -65px;
    right: -40px;
}

.line-dotted {
    border: 1px dashed #dedede;
}

.block-bottom {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}

.caja-flotante {
    max-width: 821px;
    width: calc(100% - 19px);
}

.rounded-caja {
    border-radius: 20px 20px 0px 0px;
}

.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
}



.triangulo { 
    position: relative;
}

.triangulo::before {
    position: absolute;
    content: '';
    top: calc(100% - 13px);
    left: -15px;
    height: 0px; 
    border-left: 8px solid #bb0c20;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
}

@media all and (max-width: 800px) {
    .superhero-image {
        right: 0;
        max-width: 190px;
        top: -85px;
    }

    .titulo-linea .linea{
        width: 100%;
    }
}