.cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--android18);
    height: 90px;
}

.caja {
    background-image: url(images/page_025/caja.svg);
    background-size: cover;
    padding-top: 12px;
    width: 158px;
    height: 56px;
    text-align: center;

}

.container-row {
    margin-left: 20px;
    margin-right: 20px;

}

.linea {
    border-bottom: 2px dotted gray;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-right: 60px;
    margin-left: 60px
}


.dibujo {
    top: 930px;
    left: 620px;
    transform: translate(-50%, -50%);
    

}

.bolsas {
    top: 170px;
    left: 620px;
    transform: translate(-50%, -50%);
    
}
.hoja{
    top: 320px;
    left: 50px;
    transform: translate(-50%, -50%);
    
    
}
@media (max-width: 992px) {
    .dibujo {
        display: none;
    }

    .bolsas {
        display: none;
    }
    .hoja{
        display: none;
    }
}

@media (max-width: 608px) {
    .cabecera {
        height: 150px;
    }

    .centrar {
        justify-content: center;
    }

    .cambio {
        padding-top: 3px;
    }
}

@media (max-width: 591px) {
    .cabecera {
        height: 130px;
    }
}

@media (max-width: 575px) {

    .cabecera {
        height: 130px;
    }

    .cajota {
        margin: 0 auto;
    }

    .separa {
        padding-top: 10px;
    }
}

@media (max-width: 463px) {
    .cabecera {
        height: 150px;
    }
}