.cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 93%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
    background-color: var(--saitama);
    height: 80px;
}

.caja {
  background-image: url(images/page_039/caja.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  width: 180px;
  height: 54px;
  text-align: center;
}

.caja-flotante {
    /* background-color: aqua; */
    max-width: 820px;
    width: 100%;
}


.zi1 {
  z-index: 1;
}
.zi2 {
  z-index: 2;
}
.txt-tabla{
  left: 8px !important;

}

.txt-monito{
   position:absolute; 
  right: 81px !important;
  top: 373px;
  z-index: 4;
}

.mxwp-140 {
  max-width: 140px;
 
}

.img-monito{
  display: flex;
  position: absolute;
  right: 70px;
  bottom: 480px;
  z-index: 1;
}
 

.rotar_lapiz {
  transform: rotate(340deg);
}

@media (max-width: 767px) {
  .rotar {
    transform: rotate(90deg);
    margin-left: 50%;
    margin-top: -50px;
    margin-bottom: -50px;
    width: 50px;
  }
  .separa {
    padding-bottom: 15px;
  }
  .espacio {
    margin-bottom: 15px;
  }

  


}

.linea {
  border-bottom: 2px dotted gray;
  padding-top: 30px;
  padding-bottom: 0px;
}

.interior-caja {
  background-color: var(--bulma);
  margin: -8px -8px 0px -8px;
  border-radius: 8px 8px 0px 0px;
  padding: 8px 10px;
}