.cabecera {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 130%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 99%, 0% 85%);
  background-color: var(--bulma);
  height: 110px;
}
.mta {
  margin-top: auto !important;
}
.mba {
  margin-bottom: auto !important;
}
.mtp--45 {
  margin-top: -45px;
}
.mtp-15 {
  margin-top: 15px;
}
.mtp--65 {
margin-top: -65px;
}
.mtp-35 {
  margin-top: 35px;
}
.mtp-15 {
  margin-top: 15px;
}
.mtp-20 {
  margin-top: 20px;
}
.mtp--40 {
margin-top: -40px;
}
.ms-8 {
  margin-left: 8%;
}
.msp-a {
  margin-left: -10px;
}
.mep--10 {
 margin-right: -10px;
}
.mxw-430 {
  max-width: 430px;
}
.alto-100 {
  height: 100px;
}
.ancho-responsivo {
 min-width: 150px;
}