.cb-cabecera {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
  background-color: var(--pidgey);
  height: 80px;
}
.cuadrado {
  width: 30px;
  height: 30px;
}
.centrado-vert {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color: var(--dark);
  }
  .espacio-casilla {
    width: 120px;
    height: 40px;
  }
  .ajuste-centro {
    margin-left: auto !important;
    margin-right: auto !important;
  }
/*max width*/
.mxw-85 {
  max-width: 85%;
}
/*min width*/
.mnw-50 {
    min-width: 50%;
}
/*margin top*/
.mtp--45 {
    margin-top: -45px;
}
.mtp-2 {
    margin-top: 2px;
}
.mtp-4 {
  margin-top: 4px;
}
/*margin bottom*/
.mbp--20 {
    margin-bottom: -20px;
}
/*margin right*/
/*margin left*/
.ml-50-r {
    margin-left: 50%;
}
.mlp--10-r {
    margin-left: -10px;
}
@media all and (min-width: 768px) {
    .hid-responsive {
      visibility: visible;
    }
    .vis-responsive {
      visibility: hidden;
      position: relative;
      display: none;
    }
  }
  
  @media all and (max-width: 768px) {
    .hid-responsive {
      visibility: hidden;
      position: relative;
    }
    .vis-responsive {
      visibility: visible;
    }
    .ml-50-r {
        margin-left: 20%;
    }
  }

  .linea {
    border-bottom: 2px dotted gray;
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .espiral {
  z-index: 20;
  background-image: url(images/page_042/espiral.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  margin-right: -35px;
  }