.nat-page11 {
   background: url(images/page_011/fondo_01.svg) #F29205 top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;

}
.t-shadow{
    text-shadow: -5px -5px #D55F2A;
}

@media all and (max-width: 500px) {

    .ft-m {
        font-size: 50px;
     }
}