.cuadrado-naranja{
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 96% 100%, 8% 100%);
  background-color: #F29205;
  height: 87px;
}

.rect-sesion{
    background-color: #ffcc00;
    border: 4px solid white;
    padding: 5px 8px 0px 8px;
    box-shadow: 2px 2px 1px 0px #9f9f9f;
}

.cuadro-selec {
  background-color: #C3E3F5;
  display: block;
  width: 200px;
  padding: .5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .45rem center;
  background-size: 16px 12px;
  border: 0px solid #ced4da;
  border-radius: .3rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rounded-caja {
  border-radius: 20px 20px 0px 0px;
}

.caja-flotante {
  /* background-color: aqua; */
  max-width: 821px;
  width: calc(100% - 19px);
}

.fondo {
  background: url(images/page_018/fondo.svg) top left / cover no-repeat !important;
}

.tv {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0px 0;
  /* background: red; */
  border: 2px solid red;
  border-radius: 90% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
.tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
