.cabecera {
    -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 8% 0%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background-color: var(--android18);
    height: 90px;
}


.container-row {
    margin-left: 20px;
    margin-right: 20px;

}


.caja-borde {
    height: 350px;
    border: double;
    border-color: #fed894;
    border-width: 6px;
    border-radius: 20px;
}

.carton {
    left: 0px;
}

.plastico {
    top: 250px;
    right: 40px;
}

.caja-borde1 {
    height: 450px;
    width: 300px;
    border: solid;
    border-color: #45ad4e;
    border-width: 2px;
    border-radius: 20px;
}

.linea {
    border-bottom: 2px dotted gray;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;

}


