.nat-page12 {
    background: url(images/page_012/caminito-05.svg) top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 }

 .outline{
    outline: solid 2px #f29205;
    outline-offset: -3px;
}

@media all and (max-width: 400px) {

    .nat-page12 {
        background: url(images/page_012/caminito-06.svg) top left/ cover no-repeat !important;
     }

     .cohete-abajo {
        transform: rotate(90deg);
     }
}