.cb-cabecera{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    background-color: var(--pikachu);
    height: 80px;
  }

.line-dotted {
    border: 1px dashed #dedede;
}
.cb-centrado-p60{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 30px;
}
.cb-trescontenedores-p60{
  max-width: 700px;
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 5px 5px;

}
.cb-lado-izq-p60 {
width: calc(100% / 3);
background-color: white;
margin-right: 5px;
border-radius: 10px 10px 10px 10px;
}
.cb-lado-cen-p60 {
  width: calc(100% / 3);
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px 10px 10px 10px;
}
.cb-lado-der-p60 {
  width: calc(100% / 3);
  background-color: white;
  margin-left: 5px;
  border-radius: 10px 10px 10px 10px;
}

.cb-block-p60 {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}
.cb-block2-p60 {
  max-width: 200px;
  width: calc(100% - 30px);
  align-items: start;
  justify-content: start;
  display: flex;
   position: absolute;
}
.cb-izq-p60{
  position: absolute;
  top:-17px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.cb-box-p60{
  background-color: var(--leono);
  width: 30px;
  height: 30px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
}

.rounded-caja {
    border-radius: 20px 20px 0px 0px;
}

.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color:var(--lightDark);
}

.cb-personaje{
    position: absolute;
    right: 55px;
    top: -86px;
    transform: rotate(1grad);
  }

.cb-contenedor-tabla{
  max-width: 690px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 60px);
}
.padding-hor {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}
.cb-radius{
  border-radius: 5px 5px 5px 5px;
}
.cuadrado {
  width: 30px;
  height: 30px;
}
.espacio-casilla {
  width: 120px;
  height: 0px;
}
.ajuste-centro {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mnw-50 {
  min-width: 50%;
}
.msp--40 {
  margin-left: -40px;
}
.mtp--20 {
  margin-top: -20px;
}
.mtp-30 {
  margin-top: 30px;
}
.mnh-200 {
  min-height: 200px;
}
.mtp-5 {
  margin-top: 5px;
}
.mnw-120 {
  min-width: 120px;
}

@media all and (max-width: 760px) { 
  .cb-responsive{
    margin-bottom: 15px;
  }
}
@media all and (min-width: 768px) {
  .hid-responsive {
    visibility: visible;
  }
  .vis-responsive {
    visibility: hidden;
    position: relative;
    display: none;
  }

}

@media all and (max-width: 768px) {
  .hid-responsive {
    visibility: hidden;
    position: relative;
  }
  .vis-responsive {
    visibility: visible;
  }

}