.bgc-page12{
    background-color: #feebd3;
}
.nat-page12 {
    background: url(images/page_012/camino.png) #1ab21e top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 
 }