.cabecera{
    background-color: rgb(83, 83, 255);
     width: 100%;
     height: 70px;
  
 }
 
 
 

 
 @media screen and (max-width: 800px){

    .ajuste{
        width: 100%;
        
        
    }
 }
 @media screen and (max-width: 300px){

    .ajuste {
        width: 100%;
        background-color: blue;
        
    }
 }