.bgc-trans-gdosier3{
    background-color: #d7ac5d75;
  }
.bgc-trans-gdosier2{
    background-color: #c1d67575;
  }
.bgc-trans-gdosier1{
    background-color: #c768b775;
  }

.gira--2{
    transform:rotate(-2deg);
}
.gira-2{
    transform:rotate(2deg);
}