.rounded-te-be-bs-10{
    border-radius: 0px 10px 10px 10px;
-moz-border-radius: 0px 10px 10px 10px;
-webkit-border-radius: 0px 10px 10px 10px;
}
.rounded-te-be-bs-20{
    border-radius: 0px 20px 20px 20px;
-moz-border-radius: 0px 20px 20px 20px;
-webkit-border-radius: 0px 20px 20px 20px;
}

/* 
.rounded-te-be-bs{
    border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
} */

.rounded-seb-set-20 {
    border-radius: 20px 20px 20px 20px;
  }