.abajo{
    position:absolute;
    z-index: -1;
}
.sobre{
    position:absolute;
    z-index: 2;
}


.pbp-260{
    padding-bottom:260px !important;
}
.pbp-270{
    padding-bottom:270px !important;
}
.pbp-280{
    padding-bottom:280px !important;
}
.pbp-290{
    padding-bottom:290px !important;
}
.pbp-300{
    padding-bottom:300px !important;
}
.ptp-270{
    padding-top:270px !important;
}
.ptp-300{
    padding-top:300px !important;
}

