.elipse { 
    height: 120px !important; 
    width: 200px !important; 
    border-radius: 50%; 
  } 


  .alinea {
    margin: 0 auto;
    }


    .rota-vertical {
        transform: scaleY(-1);
        -moz-transform: scaleY(-1); /* Firefox */
        -webkit-transform: scaleY(-1); /* Chrome - Safari */
        -o-transform: scaleY(-1); /* Opera */
      }
      .rota-horizontal{
        transform: scaleX(-1);
    }
       
    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
      }

      .elipse { 
        height: 120px !important; 
        width: 200px !important; 
        border-radius: 50%; 
      } 




      .min-hp-510 {
        min-height: 510px !important;
      }
      .min-hp-520 {
        min-height: 520px !important;
      }
      .min-hp-530 {
        min-height: 530px !important;
      }
      .min-hp-540 {
        min-height: 540px !important;
      }
      .min-hp-550 {
        min-height: 550px !important;
      }
      .min-hp-560 {
        min-height: 560px !important;
      }
      .min-hp-570 {
        min-height: 570px !important;
      }
      .min-hp-580 {
        min-height: 580px !important;
      }
      .min-hp-590 {
        min-height: 590px !important;
      }



      .min-hp-610 {
        min-height: 610px !important;
      }
      .min-hp-620 {
        min-height: 620px !important;
      }
      .min-hp-630 {
        min-height: 630px !important;
      }
      .min-hp-640 {
        min-height: 640px !important;
      }
      .min-hp-650 {
        min-height: 650px !important;
      }
      .min-hp-660 {
        min-height: 660px !important;
      }
      .min-hp-670 {
        min-height: 670px !important;
      }
      .min-hp-680 {
        min-height: 680px !important;
      }
      .min-hp-690 {
        min-height: 690px !important;
      }



      .min-hp-710 {
        min-height: 710px !important;
      }
      .min-hp-720 {
        min-height: 720px !important;
      }
      .min-hp-730 {
        min-height: 730px !important;
      }
      .min-hp-740 {
        min-height: 740px !important;
      }
      .min-hp-750 {
        min-height: 750px !important;
      }
      .min-hp-760 {
        min-height: 760px !important;
      }
      .min-hp-770 {
        min-height: 770px !important;
      }
      .min-hp-780 {
        min-height: 780px !important;
      }
      .min-hp-790 {
        min-height: 790px !important;
      }
