.underline {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    cursor: pointer;
    z-index: 2;
}

.eliminado {
    z-index: -1;
    cursor: auto;
    background-color: yellow;
}