.bgc-investigacion {
    background: url(images/page_021/fondo_001.svg) var(--rukia) top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;
}

.t-shadow-investigacion {
    text-shadow: -7px -8px #529f3a;
}

@media all and (max-width: 580px) {
    .ft-m-investigacion {
        font-size: 60px;
    }
}