.bgc-planificacion {
    background: url(images/page_011/bgc_planificacion.svg) var(--bulma) top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;
}

.t-shadow-planificacion {
    text-shadow: -7px -8px #D55F2A;
}

@media all and (max-width: 580px) {
    .ft-m-planificacion {
        font-size: 60px;
    }
}