.bgc-contenedor-34{
  background-color:#f3e2cd;
}

.padding-box-34-1{
  padding-right: 30%;
  padding-left: 0px;
}
.padding-box-34-2{
  padding-right: 20px;
  padding-left: 30%;
}

@media (max-width: 768px) {
  .padding-box-34-1{
    padding-right: 0;
    padding-left: 0;
  }
  .padding-box-34-2{
    padding-right: 0;
    padding-left: 0;
  }
}
