.bgc-difusion {
    background: url(images/page_073/Fondo_001.svg) var(--pikachu) top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;
}

.t-shadow-difusion {
    text-shadow: -7px -8px #8b288f;
}

@media all and (max-width: 580px) {
    .ft-m-difusion {
        font-size: 60px;
    }
}