.imagen-64-sobre-papel{
  z-index: 4;
}
 
.cb-ep-paper-64 {

  position: relative;
  width: calc(100% - 100px);
  margin: 50px auto 46px;
  /*max-width: 600px;*/
}


.cb-ep-paper-content-64 {
  position: relative;
  z-index: 3;
  background: #fefcfb;
  padding: 20px 40px;
  font-size: 16px;
}

/* .cb-ep-paper-sign {
  margin-top: 30px;
  text-align: right;
} */

.cb-ep-paper-64::before,
.cb-ep-paper-64::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #f1eee0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
}

.cb-ep-paper-64::before {
z-index: 2;
transform: rotate(-2deg);
}

.cb-ep-paper-64::after {
z-index: 1;
transform: rotate(2deg);
}



.espiral-calado-64{
  background-image: url(images/page_064/espiral_espacio.png);
  background-repeat: repeat-x;
  background-size: contain;
}

.espiral-calado-2-64{
  height:26px ;
  background-image: url(images/page_064/espiral_espacio.png);
  background-repeat: repeat-x;
  background-size: contain;
}
