.caja-p18 {
  width: 280px;
  min-height: 260px;
}

@media (min-width: 840px) {
  .posicion-caja2 {
    position: absolute;
    top: 0;
    end: 0;
    margin-top: 50px;
    margin-left: 220px;
    translate: middle;
    zindex: 1;
  }

  .posicion-caja3 {
    position: absolute;
    top: 0;
    end: 0;
    margin-top: 100px;
    margin-left: 440px;
    translate: middle;
    zindex: 1;
  }

  .pep-65-p18 {
    padding-right: 65px;
  }

  .w-80-p18 {
    width: 80%;
  }

  .ms-20-p18 {
    margin-left: 100px;
  }
}

@media (max-width: 840px) {
  .posicion-caja1 {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .posicion-caja2 {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .posicion-caja3 {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .pep-65-p18 {
    padding-right: 0px;
  }

  .w-80-p18 {
    width: 100%;
  }

  .ms-20-p18 {
    margin-left: none;
  }
}