.bgc-shinobu{
    background-color: #957ef6;
}
.bgc-ayato{
    background-color: #efefef;
}
.outlinesubir {
    outline: solid 2px var(--white);
    outline-offset: 4px;
}
.bgc-motivacion {
    background: url(../pages/images/fondo_001.svg)  top center/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
  
  }