.giro-2deg {
  transform: rotate(2deg);
}
.giro--2deg {
  transform: rotate(-2deg);
}
.giro-3deg {
  transform: rotate(3deg);
}
.giro--3deg {
  transform: rotate(-3deg);
}
.msp-80-r {
  margin-left: 80px;
}
.psp-160-r {
  padding-left: 160px;
}
.pep-160-r {
  padding-right: 160px;
}
.msp--180-r {
  margin-left: -180px;
}
.msp-100-r {
  margin-left: 100px;
}

@media all and (max-width: 767px) {
  .psp-160-r {
    padding-left: 60px;
  }
  .pep-160-r {
    padding-right: 60px;
  }
  .msp-80-r {
    margin-left: 20px;
  }
  .msp--180-r {
    margin-left: -80px;
  }
  .msp-100-r {
    margin-left: 5px;
  }
}
