
.flecha-pidgey {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #009dc5;
}
.flecha-pikachu {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #b80e80;
}
.flecha-goten {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #ea5153;
}
.flecha-balrog {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #45ad4e;
}
.flecha-bulma {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #f39200;
}
.border-buzz {
  border-bottom: 2px solid;
  border-color: var(--buzz);
  margin-right: -10px;
}
.msp--108-rel {
  margin-left: -108px;
}
.wp-40-res {
  width: 40px;
}
.invisible-768 {
  visibility: hidden;
}
.cuadrado {
  width: 30px;
  height: 30px;
}
.borde-cuadrado {
  border: 1px solid #55524f;
}

@media all and (max-width: 767px) {
  .invisible-768 {
    visibility: visible;
  }
}