.espirales-creacion-62{
  height: auto;
  width: 160px;
  margin-top: 80px;
  margin-left: -93px;
  visibility: visible;
  
  }
  

  @media (max-width: 767px) {
 
    .espirales-creacion-62{
      transform: rotate(90deg);
      height: auto;
      width: 160px;
      margin-top: -48px;
      margin-left: 29%;
      visibility: visible;
      
      }
   
  }