.bgc-difusion {
   background: url(images/page_069/Fondo_001_69.svg) #E85152 top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;

}
.t-shadow-difusion{
    text-shadow: -7px -8px #701c5b;
}

@media all and (max-width: 500px) {

    .ft-m {
        font-size: 50px;
     }
}