.cb-page76 {
  background: url(images/page_076/fondo_001.svg) top left/ cover no-repeat !important;
   -webkit-print-color-adjust: exact !important;
}
.cb-trescontenedores-p76{
  max-width: 700px;
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 5px 5px;
}
.cb-lado-a-p76 {
width: calc(100% / 4);
background-color: white;
margin-right: 5px;
border-radius: 10px 10px 10px 10px;
text-align: center;
align-items: center;
justify-content: center;
padding-top: 10px;
}

.cb-block-p76 {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}
.cb-block2-p76 {
  max-width: 200px;
  width: calc(100% - 30px);
  align-items: start;
  justify-content: start;
  display: flex;
   position: absolute;
}
.cb-izq-p76{
  top:-17px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.cb-box-p76{
  background-color: var(--white);
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
  border: 1px solid #7c7c7c;
}
.cb-texto-final-p76 {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;

} 
@media all and (max-width: 829px) {
  .cb-page76{
     background: url(images/page_076/fondo_000.svg) top left/ cover no-repeat !important;
     }
  }
  @media all and (max-width:780px) {
  
  .cb-page76 {
    background: url(images/page_076/fondo_005.svg) top left/ cover no-repeat !important;
   }
  }