.sombra {
  -webkit-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.69); 
box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.69);
}
.centrar-hor {
  margin-left: auto !important;
  maginin-right: auto !important;
}
.flecha-bulma-arriba {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 14px 9px;
  border-color: transparent transparent #f39200 transparent;
}
.mtp-200 {
  margin-top: 200px;
}
.ps-8-r {
  padding-left: 8%;
}
.pe-8-r {
  padding-right: 8%;
}
@media all and (max-width: 768px) {
  .ps-8-r {
    padding-left: 4%;
  }
  .pe-8-r {
    padding-right: 4%;
  }
}