.cb-page12{
    background: url(images/page_012/fondo_001.svg) top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 
 }
 .cb-titulo-aceptamos {
  max-width: 500px;
  border-top: 1px solid var(--goten) !important;
  border-bottom: 1px solid var(--goten) !important;
}
 .cb-text-inicial{
   margin-left: 8%;
   margin-right: auto;
   width: 100%;
   max-width: 500px;
 }
.cb-ejercicio-final-p12{
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 30px);
}

 .cb-contendor-carta-p12 {
     width: 100%;
     max-width: 700px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
 }
 .cb-contenedor-mail-p12{
    position: relative;
    width: calc(100% - 30px);
    max-width: 700px;
    margin: 20px auto 30px;
    background-color: var(--ganyu);
    border-radius: 10px;
  }
  .cb-iconos-p12{
    position: absolute;
    right: 19px;
    top: -97px;
    width: 70px;
  }
  .cb-ipad-p12{
    position: absolute;
    right: -51px;
    top: -222px;
  
  }
  .cb-celu-p12{
    position: absolute;
    left: -22px;
    bottom: -15px;
    width: 60px;
  }
  .cb-personaje-p12{
    position: absolute;
    right: 51px;
    bottom: 45px;
    width: 110px;
  }
  
  .cb-datos-12{
  width: 100%;
  max-width: 450PX;
  }
  .cb-invitacion-p12{
    width: 100%;
    background-color: white;
    height: 40px;
    align-items: center;
    display: flex;
    border-radius: 10px 10px 0px 0px;
  }
  .cb-datos-a{
    width: 100%;
    max-width: 70px;
  }
  .cb-carta-content {
    position: relative;
    z-index: 3;
    background: white;
    padding: 30px 40px;
    font-size: 16px;
    border-radius: 0px 0px 10px 10px;
  }

