.bgc-creacion {
   background: url(images/page_057/fondo_001.svg) #7c6eb0 top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;

}
.t-shadow-creacion{
    text-shadow: -7px -8px #543d89;
}

@media all and (max-width: 500px) {

    .ft-m {
        font-size: 50px;
     }
}