.cb-contenedor-mail-p72{
  position: relative;
  width: calc(100% - 100px);
  max-width: 700px;
  margin: 20px auto 0px;
  border-radius: 10px;
  box-shadow: -2px 3px 13px 4px rgb(0 0 0 / 20%);

}
.cb-datos-1{
width: 100%;
max-width: 450PX;
}
.cb-invitacion-p71 {
  width: 100%;
  background-color: white;
  height: 40px;
  align-items: center;
  display: flex;
  border-radius: 10px;
}
.cb-datos-a{
  width: 100%;
  max-width: 70px;
}
.cb-carta-content-p71 {
  position: relative;
  z-index: 3;
  background: white;
  padding: 0px 40px;
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
}
.cb-ficha-p71{
  position: absolute;
  right: -28px;
  top: 18px;
  width: 70px;
}

.cb-favorito-carta-p72{
  position: absolute;
  right: 18px;
  top: -125px;
  width: 70px;
}
.cb-ejercicio-final-p72{
  width: calc(100% - 30px);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.cb-ejercicio3-p72{
  width: calc(100% / 2);
 max-width: 340px;
 box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
}
.cb-titulo-ejercicio{
  padding-left: 20px;
  padding-right: 0px;
}
.cb-personaje-p72{
  position: absolute;
  right: 70px;
  bottom: -128px;
  width: 220px;
}
.cb-notamorada-p72{
  position: absolute;
  left: -30px;
  top: 120px;
  width: 60px;
}
.cb-megafono-p72{
  position: absolute;
  right: -30px;
  top: 108px;
  width: 80px;
}
.cb-ipad-p72{
  position: absolute;
  right: 50px;
  top: -192px;
  width: 80px;
}
.cb-chinche-p72{
 position: absolute;
 right: 0px;
 top: -20px;
}
@media all and (max-width: 800px) {


  .cb-notamorada-p72{
      display: none;
  }
  .cb-megafono-p72{
    display: none;
}
  .cb-celu-carta-p71{
    display: none;
}
.cb-ejercicio3-p72{
  width: 100%;
  max-width: calc(100% - 50px);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}
.cb-ejercicio-final-p72{
  display: inline;

}
}