.cb-contenedor-dos {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 650px;
    width: 100%;
    display: flex;
}
.cb-block {
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    width: 50%;
  }
  .bgc-kazuha{
background-color:#ffe0e1 ;
  }
  .bgc-sayu{
    background-color:#ffecd6 ;
      }
  .cb-block-2 {
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    width: 100%;
    box-shadow: 1px 1px 8px 3px rgb(0 0 0 / 20%);
  }
  .cb-outline-p73{
    outline: solid 2px #ffffff;
    outline-offset: -6px;
  }  
  .cb-caja1{
    position: absolute;
    top:20px;
    right: -10px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffe0e0;
  }
  
  .cb-caja2-p73{
    position: absolute;
    bottom: -10px;
    right: -19px;
    width: 103%;
    border-radius: 5px;
  }
  .cb-caja3{
    border-radius: 5px;
    background-color: #ffecd5;
    }
  .cb-caja4{
    border-radius: 5px;

  }
  .cb-psp{
    padding-left: 10px;
  }
  .cb-psp2{
    padding-left: 20px;
  }
  .cb-seccion2-p73{
      width: calc(100% - 30px);
      max-width: 630px;
      margin-left: auto;
      margin-right: auto;
  }
.cb-nube-p73{
  position: absolute;
  z-index: 1;
  width: 80px;
  top: -20px;
  right: -40px;
}
.cb-notamorada-p73{
  position: absolute;
  z-index: 1;
  width: 60px;
  bottom: -20px;
  left: -30px;
}
.cb-doctora-p73{
  position: absolute;
  z-index: 1;
  width: 60px;
  bottom: 10px;
  right: -45px;
}
@media all and (max-width: 800px) {


  .cb-notamorada-p73{
      display: none;
  }
  .cb-nube-p73{
    display: none;
}
  .cb-doctora-p73{
    display: none;

}
}