.anillos-p35{
  background-image: url(images/page_035/img_002.svg);
  background-repeat: repeat;
  background-size: contain;
  /* background-color: #ffcc00; */
}
.anillos-b-p35{
  background-image: url(images/page_035/img_004.svg);
  background-repeat: repeat;
  background-size: contain;
  /* background-color: #ffcc00; */
}
.cuadrado-p35 {
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
}
.zi2 {
  z-index: 2;
}
.mxhp-75 {
  max-height: 75px;
}