.row-container-26-1{
    background-color: #fdd6a5;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #e95153;
}

.row-container-26-2{
    background-color: #e2eab1;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #40a435;
}

.row-container-26-3{
    background-color: #a2d9ea;
    border-radius: 10px;
    margin-bottom: 60px;
    color: #00699e;
}