.cb-numero-inicial{
    width: 100%;
    max-width: 600px;
    margin-right: 6%;
    margin-left: 6%;
}
.cb-bloque-blanco{
    width: calc(100% - 30px);
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    border: 2px solid var(--trunks);
    border-radius: 5px;
}
.cb-box-a {
    background-color: white;
    left: 10px;
    top: 93px;
    width: 30px;
    height: 30px;
    border: 1px solid #7c7c7c;
    text-align: center;
  }

  .cb-ejercicio-2-p07{
    width: 100%;
    max-width: 370px;
    margin-left: 10%;
    margin-right: auto;
    background-color: var(--shogun);
    border: 1px solid var(--rukia);
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
  }

.cb-pbp{
    padding-bottom: 40px;
}
.cb-tachuela-09{
    position:absolute;
    top: -10px;
    left: 45%;
}
.cb-personaje-09{
    position:absolute;
    left: -40px;
    bottom: -5px;
    z-index: 2;
}
.cb-crallones-09{
    position:absolute;
    right: -40px;
    bottom: 145px;
    z-index: 2;
}
.cb-lapiz-09{
    position:absolute;
    right: -20px;
    bottom: 95px;
}
@media all and (max-width: 675px) {


    .cb-tachuela-09{
        display: none;
    }
    .cb-crallones-09{
        display: none;
    }
    .cb-personaje-09{
        display: none;
    }
}