.giro-4deg {
  transform: rotate(-4deg);
}
.msp-245 {
  margin-left: 245px;
}
.msp-310 {
  margin-left: 310px;
}
.msp-220 {
  margin-left: 220px;
}
.hidden-res {
  visibility: visible;
}
@media all and (max-width: 660px) {
  .hidden-res {
    visibility: hidden;
  }
}
