.linea2 {
  border-bottom: 1px dashed #525252;
  padding-top: 5px;
}
.linea {
  border-bottom: 1px dashed #dedede;
  padding-top: 5px;
}

.cb-seccion-inicial-p07{
  max-width: 650px;
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
}
.cb-seccion-inicial-col-a{
  width: calc(100%/ 2);
  max-width: 300px;
}
.cb-seccion-linea-p07 {
  border: 1px solid var(--pidgey);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}
.cb-seccion-outline-p07{
  outline: solid 4px #ffffff;
  outline-offset: -5px;
}
.cb-pbp{
  padding-bottom: 40px;
}
.cb-a span::before{
  content: "a.";
  color: crimson;
  margin-right: 5px;
}
.cb-b span::before{
  content: "b.";
  color: crimson;
  margin-right: 5px;
}
.cb-union-a{
    position: absolute;
    top: 90px;
    right: -19px;
    transform: rotate(-90deg);
    width: 10px;
    z-index: 1;
}
.cb-union-b{
  position: absolute;
  top: 250px;
  right: -19px;
  transform: rotate(-90deg);
  width: 10px;
  z-index: 1;
}
.cb-union-1{
  position: absolute;
  top: -70px;
  left: 20px;
  width: 10px;
  z-index: 1;
}
.cb-union-2{
position: absolute;
top: -70px;
right: 9px;
width: 10px;
z-index: 1;
}
.cb-union-3{
  position: absolute;
 bottom: -20px;
  width: 10px;
  left: 20px;
  z-index: 1;
}
.cb-union-4{
position: absolute;
bottom: -20px;
right: 9px;
width: 10px;
z-index: 1;
}
.cb-ejercicio-final-bloques{
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 30px);
}
.cb-ejercicio-final-lef{
  width: calc(100% / 2);
  height: 280px;
  max-width: 300px;

  padding-right: 10px;
  margin-left: auto !important;
  margin-right: auto !important;

}
.cb-ejercicio-final-rig{
  width: calc(100% / 2);
  padding-left: 10px;
}
.cb-ejercicio-final-arriba{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 250px;
  margin-bottom: 20px;
  background-color: var(--kazuha);
  border: 1px solid var(--obiwan);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.cb-ejercicio-final-abajo{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 200px;
  background-color: var(--marcianos);
  border: 1px solid var(--pidgey);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.cb-ejercicio-left-arriba{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;


}
.cb-ejercicio-left-abajo{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 320px;
  background-color: var(--shogun);
  border: 1px solid var(--rukia);
  margin-top: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.cb-pregunta-a{
  position: absolute;
  left: -21px;
  top: 30px;
  width: 40px;
}
.cb-pregunta-b{
  position: absolute;
  right: -21px;
  bottom: 30px;
  width: 40px;
  transform: rotate(-180deg);
}
.cb-pregunta-c{
  position: absolute;
  left: -21px;
  bottom: 131px;
  width: 40px;
}
.cb-pregunta-d{
  position: absolute;
  right: -21px;
  bottom: 40px;
  width: 40px;
  transform: rotate(-180deg);
}
.cb-pregunta-e{
  position: absolute;
  left: -21px;
  bottom: 91px;
  width: 40px;
}
.cb-pregunta-f{
  position: absolute;
  right: -21px;
  bottom: 20px;
  width: 40px;
  transform: rotate(-180deg);
}
.cb-pienso-c{
  margin-right: auto;

  width: 100%;
  max-width: 300px;
}
.cb-pienso-c span::before{
  content: "c.";
  color: crimson;
  margin-right: 5px;
}
.cb-bgc-p08{
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1ead6;
  border-radius: 10px;
}

.cb-agenda-p07{
  position: absolute;
  left: -63px;
  bottom: -103px;
}
.cb-blocknotas-p07{
  position: absolute;
  right: -33px;
  top: 157px;
}
@media all and (max-width: 675px) {


  .cb-union-a{
      display: none;
  }
  .cb-union-b{
      display: none;
  }
  .cb-pregunta-a{
      display: none;
  }
  .cb-pregunta-b{
      display: none;
  }
  .cb-pregunta-c{
      display: none;
  }
  .cb-pregunta-d{
      display: none;
  }
  .cb-pregunta-e{
      display: none;
  }
  .cb-pregunta-f{
      display: none;
  }
  .cb-agenda-p07{
      display: none;
  }
  .cb-blocknotas-p07{
      display: none;
  }
}