.caja-dibujo-400{
    position: relative;
    height: 400px;
    margin-left:40px;
    margin-right:40px;   
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.21); 
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.21);
  }