
.cb-page56 {
  background: url(images/page_056/fondo_001.svg) top left/ cover no-repeat !important;
   -webkit-print-color-adjust: exact !important;





}.linea {
  border-bottom: 1px dashed #dedede;
  padding-top: 5px;
  border-color: var(--dark);
}


.cb-700{
  max-width: 700px;
}
.cb-600{
  max-width: 600px;
}
.cb-calc{
  width: calc(100% - 30px);
}
.flecha-saitama {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent var(--saitama);
}





 
.mxwp-490 {
  max-width: 490px;
}
.hp-240 {
    height: 240px;
}
.mrp--60 {
    margin-right: -60px;
}
.tf-letra {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    color: white !important;
    font-size: 16px;
  }
  .tf-parrafo-caja {
    font-size: 16px;
    text-align: left !important;
    color: #000 !important;
    font-family: ubuntu-l, sans-serif;
    background-color: var(--kai);
    width: 400px;
    padding-left: 8px;
  }
  .tf-mono {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 70px;
    z-index: 1;
  }
  .tf-megafono {
    display: flex;
    position: absolute;
    right: 40px;
    top: 70px;
    z-index: 1;
  }
  .tf-lupa {
    display: flex;
    position: absolute;
    left: 60px;
    top: 220px;
    z-index: 1;
  }
  .tf-calendario {
    display: flex;
    position: absolute;
    left: 40px;
    top: 440px;
    z-index: 1;
  }
  @media (max-width: 768px) {
    .tf-mono {
        display: flex;
        position: absolute;
        right: 0px;
        bottom: 190px;
        z-index: 1;
      }
    }