.mxhp-40 {
  max-height: 40px;
}
.mxhp-20 {
  max-height: 20px;
}
.giro90-res {
  transform: rotate(0deg);
}
.mnwp-160 {
  min-width: 160px;
}
.mnhp-a {
  min-height: 130px;
}
.centrar-ver {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: var(--bulma);
  border-radius: 50%;
  display: inline-block;
}

@media all and (min-width: 767px) {
  .diline-res {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media all and (max-width: 680px) {
  .diline-res {
    display: flex;
    flex-direction: column;
    height: 270px;
  }
  .giro90-res {
    transform: rotate(90deg);
  }
}

