
.giro-2deg {
  transform: rotate(2deg);
}
.giro--2deg {
  transform: rotate(-2deg);
}
.sombra {
  -webkit-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.40); 
box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.40);
}