.cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--android18);
    height: 175px;
}

.caja-flotante {
    /* background-color: aqua; */
    max-width: 820px;
    width: 100%;
}

.container {
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.container-row {
    margin-left: 20px;
    margin-right: 20px;
}

.caja {
    background-image: url(images/page_033/caja.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 10px 10px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #ccc;
    padding: 8px;
}


.lapiz {
    position: absolute;
    right: 25px;
    top: 300px;

}






.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color: var(--dark);

}

@media (max-width: 760px) {
    .cabecera {
        height: 215px;
    }

    .centrar {
        justify-content: center;
    }

    .cambio {
        padding-top: 3px;
    }
}

@media (max-width: 591px) {
    .cabecera {
        height: 270px;
    }
}

@media (max-width: 575px) {
    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
    }

    .cabecera {
        height: 340px;
    }

    .rotar-flecha {
        transform: rotate(90deg);
        padding-top: 20px;
    }

    .separa {
        padding-top: 10px;
    }

    .centrar {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .cabecera {
        height: 370px;
    }
}


@media (max-width: 767px) {

    .rotar1 {
        transform: rotate(90deg);
        margin-left: calc(55% - 25px);
        margin-top: -50px;
        margin-bottom: 40px;

    }

    .separa {
        padding-bottom: 15px;
    }

    .espaciado {

        margin-top: -30px;
        margin-bottom: -110px;

    }
}