.cabecera {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--android18);
    height: 190px;
}

.caja {
    background-image: url(images/page_027/caja.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 10px 10px 10px;
}

.cajita {
    position: absolute;
    z-index: 2;
}

.imagen {
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
   
}

.interior-caja {
    background-color: white;
    margin: -25px -10px 0px -10px;
    border-radius: 8px 8px 0px 0px;
    padding: 8px 10px;
    border-bottom-color: #ECF4D5 !important;
    border-top-color:#afca0b !important;
    border: 2px solid;
}

.cajota {
    height: 540px;

}

.linea {
    border-bottom: 2px dotted black;
    padding-top: 40px;
    padding-bottom: 0px;

}

.linea1 {
    margin: 0 auto;
}

@media (max-width: 576px) {
    .cambio {
        padding: 0;
    }

    .cabecera {
        height: 320px;
    }

    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
    }

    .centrar {
        text-align: center;
        padding: 10px 13px 0px 13px !important;
        justify-content: center;
    }
}

@media (max-width: 591px) {
    .cabecera {
        height: 290px;
    }
}




@media (max-width: 992px) {
    .centrado3 {

        height: 40px;
        width: 150px;
        visibility: hidden;
    }

    .margen {
        margin-left: -10px;
    }
}

@media (max-width: 992px) {
    .centrado {

        height: 40px;
        width: 150px;
        visibility: hidden;
    }
}

@media (max-width: 992px) {
    .centrado1 {

        height: 40px;
        width: 150px;
        visibility: hidden;
    }
}

@media (max-width: 992px) {
    .centrado2 {

        height: 40px;
        width: 150px;
        visibility: hidden;
    }

}

@media (max-width: 575px) {
    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
    }

    .cabecera {
        height: 450px;
    }

    .rotar-flecha {
        transform: rotate(90deg);
        padding-top: 20px;
    }

    .separa {
        padding-top: 10px;
    }

    .centrar {
        justify-content: center;
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    .cajita {
        visibility: hiden;
    }
}

@media (max-width: 576px) {
    .cajita {
        visibility: visible;
    }

    .centrar {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .cabecera {
        height: 450px;
    }
}

.container-row {
    margin-left: 20px;
    margin-right: 20px;

}

@media (max-width: 576px) {
    .cabecera {
        height: 450px !important;
    }

    .margen {
        margin-left: -5px;
    }

    .cambio {
        width: 100%;
        padding-top: 5px;
        margin: 0 auto;
        text-align: center !important;

    }

}

@media (max-width: 750px) {

    .cabecera {
        height: 200px;
    }

    .margen {
        margin-left: -5px;
    }
}

@media (max-width: 680px) {

    .cabecera {
        height: 240px;
    }

    .margen {
        margin-left: -5px;
    }


}

@media (max-width: 616px) {

    .cabecera {
        height: 250px;
    }

    .margen {
        margin-left: 5px;
    }
}

@media (max-width: 490px) {


    .margen {
        margin-left: 10px;
    }
}