.cabecera {
    -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 8% 0%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background-color: var(--android18);
    height: 90px;
}


.container-row {
    margin-left: 20px;
    margin-right: 20px;

}

.cajota {
    height: 750px;
    margin-left: 10px;
    margin-right: 10px;


}


.colores {
    top: 215px;
    right: -20px;
    transform: translate(-50%, -50%);
    text-align: center;


}

.pincel {
   top: 550px;
    left: 57px;
    transform: translate(-50%, -50%);
    text-align: center;


}

.dibujo {
    top: 826px;
    left: 97px;
    transform: translate(-50%, -50%);
    text-align: center;


}

