.cabecera {
    -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 8% 0%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background-color: var(--android18);
    height: 90px;
}


.container-row {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #d8eeea;
    border-radius: 10px;


}

.caja-borde {
    height: 600px;
    max-width: 600px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;


}



.dibujo {
    position: absolute;
    left: 54px;
    top: -135px;
}



.palta {
    position: absolute;
    left: 309px;
    top: 253px;
}






@media (max-width: 848px) {
    .palta {
        display: none;
    }
}

@media (max-width: 767px) {
    .rotar {
        transform: rotate(90deg);
        margin-left: calc(55% - 25px);
        margin-top: -50px;
        margin-bottom: 40px;

    }

    .separa {
        padding-bottom: 15px;
    }

    .espaciado {

        margin-top: -30px;
        margin-bottom: -110px;

    }
}