.cabecera {
    -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 8% 0%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background-color: var(--android18);
    height: 90px;
}


.margen-row {
    margin-left: 60px;
    margin-right: 60px;
    background-color: #d8eeea;
    border-radius: 10px;


}

.caja-borde {
    height: 600px;
    max-width: 600px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.margen {
    margin-left: auto;
    margin-right: auto;

}


.papas {
    position: absolute;
    right: -52px;
    top: -76px;
    
}

.dibujo {
    position: absolute;
    right: -35px;
    top: -129px;
}

table {
    border-collapse: collapse;
    width: 39%;
    left: 40px;
    top: 215px;
}

.fondo {
    background-color: #9ec83d;
    border-color: #d2e5a5;
}

.fondo1 {
    background-color: #eaf2d0;
    border-color: #d2e5a5;
}

.borde-tabla {
    border-color: #d2e5a5;
}

td, th {
    border: 2px solid #ccc;
    padding: 1px;
}


