.cb-page19 {
  background: url(images/page_019/fondo_001.svg) top center/cover no-repeat;
  width: 100% !important;
  height: 100% !important;
  -webkit-print-color-adjust: exact !important;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: var(--bulma);
  border-radius: 50%;
  display: inline-block;
}
.cuadrado {
  width: 30px;
  height: 30px;
}
.centrar-ver {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.centrar-hor {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mtp--25 {
  margin-top: -25px;
}
.mxw-95 {
  max-width: 95%;
}
.mnhp-90 {
  min-height: 90px;
}
.mtp-8 {
  margin-top: 8px;
}
.bgc-zoe {
  background-color: #76ccc9;
}