.cb-page44 {
  background: url(images/page_044/fondo_001.svg) top center/cover no-repeat;
  width: 100% !important;
  height: 100% !important;
  -webkit-print-color-adjust: exact !important;
}
.cb-inicio {
  margin-bottom: 60px;
}
.block-bottom {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 30px);
}
.linea {
  border-bottom: 1px dashed #dedede;
  padding-top: 5px;
  border-color: var(--dark);
}

.rf-pep {
  padding-right: 10%;
}
.rf-psp {
  padding-left: 10%;
}
.rojo {
  background-color: red;
}
.tf-pc {
  display: flex;
  position: absolute;
  top: 90px;
  right: 60px;
  z-index: 1;
}
.tf-doc {
  display: flex;
  position: absolute;
  top: 500px;
  right: 50px;
  z-index: 1;
} 
.tf-mundo {
  display: flex;
  position: absolute;
  bottom: 600px;
  left: 10px;
  z-index: 1;
}
.tf-persona {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 1;
}
.tf-metro {
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 0px;
  z-index: 1;
}
.tf-lapiz {
  display: flex;
  position: absolute;
  top: 250px;
  left: 70px;
  z-index: 1;
}
.tf-frase {
  display: flex;
  position: absolute;
  font-size: 16px;
  text-align: center !important;
  left: 40px;
  bottom: 180px;
  z-index: 1;
}

@media all and (min-width: 750px) {
  .ra-pe {
    padding-right: 4%;
    padding-left: 25px;
  }
  .ra-ps {
    padding-left: 4%;
    padding-right: 25px;
  }
  .tf-pc {
    display: flex;
    position: absolute;
    top: 100px;
    right: 90px;
    z-index: 1;
  }
  .tf-doc {
    display: flex;
    position: absolute;
    top: 500px;
    right: 70px;
    z-index: 1;
  } 
  .tf-mundo {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 60px;
    z-index: 1;
  }
  .tf-persona {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 350px;
    z-index: 1;
  }
  .tf-metro {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 0px;
    z-index: 1;
  }
  .tf-lapiz {
    display: flex;
    position: absolute;
    top: 250px;
    left: 95px;
    z-index: 1;
  }
  .tf-frase {
    display: flex;
    position: absolute;
    font-size: 16px;
    text-align: center !important;
    left: 380px;
    bottom: 180px;
    z-index: 1;
  }

}
@media all and (max-width: 750px) {
  
}
