.cb-page10 {
    background: url(images/page_020/fondo_001.svg) #F29205 top left/ cover no-repeat !important;
    -webkit-print-color-adjust: exact !important;
 }
 .cb-inicio{
    height: 250px; 
    margin-bottom: 60px;
 }

 /* Agregado Aldo */
.tf-Ubuntu-L {
    font-family: "Ubuntu-L", sans-serif;
}
.text-center {
    text-align: center!important;
}
.tf-outlineblanco {
    outline: solid 2px #f8f7f6;
    outline-offset: -3px;
}
.style-text {
    font-size: 16px;
    font-family: "Ubuntu-M", sans-serif;
    text-align: center!important;
}
.style-title {
    font-size: 16px;
    font-family: ubuntu-M, sans-serif;
    color: #fff;
}
.ra-pep {
    padding-right: 5%;
}
.ra-psp {
    padding-left: 5%;
}
.rf-pep {
    padding right: 10%;
}
.rf-psp {
    padding left: 10%;
}
@media all and (max-width: 768px){
    .ra-pep {
        padding-right: 15px;
    }
    .ra-psp {
        padding-left: 15px;
    }
    .rf-pep {
        padding right: 20%;
    }
    .rf-psp {
        padding left: 20%;
    }
}
/*Aldo 830*/
.cb-block-superior {
    max-width: 160px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: calc(100% - 30px);

}
.cb-bloque-0 {
    max-width: 200px;
    border-radius: 10px;
    position: absolute;
    left: 3px;
    top: -4px;
    width: 100%;
}
.cb-bloque-1 {
    max-width: 160px;
    border-radius: 10px;
    position: absolute;
    left: -207px;
    top: -74px;
}
.cb-bloque-1::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    bottom: 10px;
    transform: rotate(30deg);
    background-color: white;
}
.cb-bloque-2 {
    max-width: 180px;
    border-radius: 10px;
    position: absolute;
    right: -10px;
    top: -104px;
}
.cb-bloque-2::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    bottom: -24px;
    transform: rotate(90deg);
    background-color: white;
    left: 55px;
}
.cb-bloque-3 {
    max-width: 180px;
    border-radius: 10px;
    position: absolute;
    right: -210px;
    top: -74px;
}
.cb-bloque-3::after{
    content: "";
    position: absolute;
    width: 89px;
    height: 5px;
    bottom: -10px;
    transform: rotate(150deg);
    background-color: white;
    left: -68px;
}
.cb-bloque-4 {
    max-width: 180px;
    border-radius: 10px;
    position: absolute;
    left: -210px;
    bottom: -104px;
}
.cb-bloque-4::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    bottom: 50px;
    transform: rotate(-30deg);
    background-color: white;
    right: -56px;
}
.cb-bloque-5 {
    max-width: 132px;
    border-radius: 10px;
    position: absolute;
    right: 11px;
    bottom: -144px;
    width: 100%;
}
.cb-bloque-5::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: 90px;
    transform: rotate(30deg);
    background-color: white;
    right: -90px;
}
.cb-bloque-6 {
    max-width: 190px;
    border-radius: 10px;
    position: absolute;
    right: -210px;
    bottom: -104px;
}
.cb-bloque-6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    bottom: 50px;
    transform: rotate(90deg);
    background-color: white;
    right: 265px;
}
.line-dotted {
    border: 1px dashed #dedede;
}

.cb-block-arriba {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}

.cb-block-inicial {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 190px;
    position: relative;
    width: calc(100% - 30px);
}

.block-bottom {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}

.rounded-caja {
    border-radius: 20px 20px 0px 0px;
}

.rounded-set-10 {
    border-radius: 10px 10px 0px 0px;
}

.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color:var(--dark);
}

  .cb-lapiz{
    position: absolute;
    left: -20px;
    top: -54px
  }

  .cb-globo{
    position: absolute;
    right: -113px;
    top: 3px;
  }
  
  .cb-nota{
    position: absolute;
    right: -35px;
    bottom: -23px;
}

.cb-binoculares{
    position: absolute;
    left: -30px;
    bottom: -18px;
}
.cb-tv{
    position: absolute;
    left: -10px;
    top: 100px;
}
.cb-personaje{
    position: absolute;
    right: -56px;
    top: -23px;;
}
.cb-estrella{
    position: absolute;
    right: -40px;
    top: -19px;
}

.cb-titulo-aceptamos {
    max-width: 500px;
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}
.cb-pagina{
    right: 0px;
    bottom: 135px;
    width: 63px;
    padding-left: 5px;  
}
.cb-flecha{
    padding-bottom: -2px;
}
/* medias
@media all and (max-width: 820px) {
    .cb-page10 {
        background: url(images/page_010/fondo_008.svg) top left/ cover no-repeat !important;
     }
     .cb-globo{
        display: none;
    }
    .cb-personaje{
        top: 0px;;
    }
 

}

@media all and (max-width: 680px) {
    .cb-page10 {
        background: url(images/page_010/fondo_005.svg) top left/ cover no-repeat !important;
     }


    .titulo-linea .linea{
        width: 100%;
    }

    .cb-lapiz{
        display: none;
    }

    .cb-nota{
        display: none;
    }
    .cb-binoculares{
        display: none;
    }
    .cb-tv{
        display: none;
    }
    .cb-personaje{
        display: none;
    }
    .cb-estrella{
        display: none;
    }
    .cb-inicio{
        height: auto;
        position: unset;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin-bottom: 10px;
     }
     .cb-bloque-0 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-bloque-1 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-bloque-2 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-bloque-3 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-bloque-4 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-bloque-5 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-bloque-6 {
        position: relative;
        left: unset;
        top: unset;
        right:unset;
        bottom: unset;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 400px;
    }
    .cb-block-superior {
        max-width: 100%;
    }
    .cb-bloque-0::after{
        right: calc(50% - 6px);
        transform: rotate(90deg);
        bottom: -10px;
        width: 16px;
    }
    .cb-bloque-1::after{
        right: calc(50% - 8px);
        transform: rotate(90deg);
        top: -10px;
        width: 16px;
    }
    .cb-bloque-2::after{
        left: calc(50% - 8px);
        transform: rotate(90deg);
        top: -10px;
        width: 16px;
    }
    .cb-bloque-3::after{
        left: calc(50% - 8px);
        transform: rotate(90deg);
        top: -10px;
        width: 16px;
    }
    .cb-bloque-4::after{
        right: calc(50% - 6px);
        transform: rotate(90deg);
        top: -10px;
        width: 16px;
    }
    .cb-bloque-5::after{
        right: calc(50% - 6px);
        transform: rotate(90deg);
        top: -10px;
        width: 16px;
    }
    .cb-bloque-6::after{
        right: calc(50% - 6px);
        transform: rotate(90deg);
        top: -10px;
        width: 16px;
    }
    .cb-block-inicial {
        margin-bottom: 30px;
    }
    .cb-flecha{
        padding-bottom: 13px;
    }

}
*/