.soc-page21 {
    background: url() #93BF21 top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 
 }
 .t-shadow{
     text-shadow: -7px -8px #D55F2A;
 }
 
 @media all and (max-width: 500px) {
 
     .ft-m {
         font-size: 50px;
      }
 }