.cabecera {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
  background-color: var(--android18);
  height: 230px;
}

.caja {
  background-image: url(../5B/images/page_023/img_001.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px 10px 10px;
}

@media (max-width: 608px) {
  .cabecera {
    height: 270px;
  }

  .centrar {
    justify-content: center;
  }

  .cambio {
    padding-top: 3px;
  }
}

@media (max-width: 591px) {
  .cabecera {
    height: 290px;
  }
}


.centrado {
  top: 460px;
  left: 60px;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 100px;
  text-align: center;

}

.centrado1 {
  height: auto;
  width: 150px;
  right: 0px !important;
  margin-top: 120px;
  margin-right: 35px;
  text-align: right;
  visibility: visible;
}

.centrado2 {
  height: auto;
  width: 150px;
  right: 390px;
  margin-top: 160px;
  margin-right: 25px;
  text-align: right;
  visibility: visible;
}

.centrado3 {
  position: absolute;
  height: auto;
  width: 170px;
  right: 0px !important;
  margin-top: -75px;
  margin-right: 25px;
  text-align: right;
  visibility: visible;
}

.linea {
  border-bottom: 2px dotted gray;
  padding-top: 30px;
  padding-bottom: 0px;

}

.linea1 {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .centrado3 {

    height: 40px;
    width: 150px;
    visibility: hidden;
  }
}

@media (max-width: 992px) {
  .centrado {

    height: 40px;
    width: 150px;
    visibility: hidden;
  }
}

@media (max-width: 992px) {
  .centrado1 {

    height: 40px;
    width: 150px;
    visibility: hidden;
  }
}

@media (max-width: 992px) {
  .centrado2 {

    height: 40px;
    width: 150px;
    visibility: hidden;
  }
}

@media (max-width: 575px) {
  .rotar {
    transform: rotate(90deg);
    margin: 10px;
    width: 20px;
  }

  .cabecera {
    height: 420px;
  }

  .rotar-flecha {
    transform: rotate(90deg);
    padding-top: 20px;
  }

  .separa {
    padding-top: 10px;
  }
  .centrar {
    justify-content: center;
    text-align: center;
    padding-left:0;
  }
}

@media (max-width: 992px) {
  .cajita {
    visibility: hidden;
  }
}

@media (max-width: 576px) {
  .cajita {
    visibility: visible;
  }
  .centrar {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .cabecera {
    height: 450px;
  }
}

.container-row {
  margin-left: 20px;
  margin-right: 20px;

}