.soc-page12 {
    background: url(images/page_012/fondo.svg) top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 }

 .outline{
    outline: solid 2px #f29205;
    outline-offset: -3px;
}
#page_012{
    min-height: 1060px;
}

@media all and (max-width: 440px) {

    .soc-page12 {
        background: url(images/page_012/img_002.svg) top left/ cover no-repeat !important;
     }

     .cohete-abajo {
        transform: rotate(90deg);
     }

     #page_012{
        min-height: 800px !important;
    }
}

.mtp--150 {
    margin-top: -155px;
}