.cb-page79 {
  background: url(images/page_079/fondo_001.svg) top center/cover no-repeat;
  width: 100% !important;
  height: 100% !important;
  -webkit-print-color-adjust: exact !important;
}
.cb-inicio {
  margin-bottom: 60px;
}
.cb-dossier {
  width: 100%;
}
.linea {
  border-bottom: 1px dashed #dedede;
  padding-top: 25px;
  border-color: var(--dark);
  min-width: 55px;
}

.alto-caja {
  height: 60px;
  min-width: 250px;
}
.margentop {
  margin-top: -45px;
}

.tf-parrafo-caja {
  font-size: 16px;
  text-align: left !important;
  color: #000 !important;
  font-family: ubuntu-l, sans-serif;
  width: 400px;
  padding-left: 8px;
}
.tf-letra {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  color: white !important;
}


@media all and (min-width: 768px) {
  .anillo {
    left: 45%;
    margin-top: 0px;
    z-index: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    height: 12px;
  }
  .anillo-inicio {
    left: 45%;
    margin-top: -20px;
    z-index: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    height: 12px;
  }
  .tf-mapa {
    display: flex;
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 1;
    height: 70px;
  }
  .tf-estrella {
    display: flex;
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 1;
    height: 60px;
  }
  
  .tf-diana{
    display: flex;
    position: absolute;
    left: 10px;
    top: 380px;
    z-index: 1;
    height: 80px;
  }
  .tf-megafono {
    display: flex;
    position: absolute;
    right: 35px;
    top: 220px;
    z-index: 1;
    height: 60px;
  }
  .tf-calendario{
    display: flex;
    position: absolute;
    right: 60px;
    top: 460px;
    z-index: 1;
    height: 60px;
    transform: rotate(-30deg);
  }
  .tf-binoculares {
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 1;
    height: 80px;
    transform: rotate(10deg);
  }
  .tf-lupa {
    display: flex;
    position: absolute;
    right: 80px;
    bottom: 90px;
    z-index: 1;
    height: 80px;
  }
}


@media all and (max-width: 768px) {
  .anillo {
    margin-left: 30%;
    margin-top: 0px;
    z-index: 1;
    visibility: hidden;
    display: flex;
    position: absolute;
    height: 12px;
  }
  .anillo-inicio {
    margin-left: 30%;
    margin-top: 0px;
    z-index: 1;
    visibility: hidden;
    display: flex;
    position: absolute;
    height: 12px;
  }
  .tf-mapa {
    display: flex;
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 1;
    height: 70px;
  }
  .tf-estrella {
    display: flex;
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 1;
    height: 60px;
  }
  
  .tf-diana{
    display: flex;
    position: absolute;
    left: 10px;
    top: 450px;
    z-index: 1;
    height: 80px;
  }
  .tf-megafono {
    display: flex;
    position: absolute;
    visibility: hidden;
    right: 15px;
    top: 220px;
    z-index: 1;
    height: 60px;
  }
  .tf-calendario {
    display: flex;
    position: absolute;
    right: 60px;
    bottom: 700px;
    z-index: 1;
    height: 60px;
    transform: rotate(-30deg);
  }
  .tf-binoculares {
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 1;
    height: 80px;
    transform: rotate(10deg);
  }
  .tf-lupa {
    display: flex;
    position: absolute;
    right: 80px;
    bottom: 350px;
    z-index: 1;
    height

}
}
