.cb-page72 {
  background: url(images/page_072/fondo_001.svg) top center/cover no-repeat;
  width: 100% !important;
  height: 100% !important;
  -webkit-print-color-adjust: exact !important;
}
.cb-inicio {
  margin-bottom: 60px;
}
.bloque-blanco {
  min-width: 200px;
  min-height: 200px;
}
.linea {
  border-bottom: 1px dashed #dedede;
  padding-top: 5px;
  border-color: var(--dark);
  min-width: 55px;
}
.maximo {
    max-width:600px;
}
.tf-flecha1 {
  display: flex;
  position: absolute;
  left: 100px;
  bottom: 335px;
  z-index: 1;
  height: 18px;
}
.tf-flecha2 {
  display: flex;
  position: absolute;
  left: 100px;
  bottom: 172px;
  z-index: 1;
  height: 18px;
}
.tf-camara {
    display: flex;
    position: absolute;
    right: 20px;
    top: -10px;
    z-index: 1;
    height: 90px;
  }
  .tf-calculadora {
    display: flex;
    position: absolute;
    left: 65px;
    top: 100px;
    z-index: 1;
    height: 70px;
  }
  .tf-hoja {
    display: flex;
    position: absolute;
    right: 25px;
    top: 350px;
    z-index: 1;
    height: 90px;
  }
  .tf-brocha {
    display: flex;
    position: absolute;
    left: 80px;
    top: 445px;
    z-index: 1;
    height: 40px;
  }
  .tf-persona {
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 25px;
    z-index: 1;
    height: 280px;
  }
  .tf-tren {
    display: flex;
    position: absolute;
    left: 30px;
    bottom: -50px;
    z-index: 1;
    height: 50px;
  }
  @media all and (max-width: 815px) {
    .tf-persona {
        display: none;
        position: none;
        visibility: hidden;
        right: 30px;
        bottom: 25px;
        z-index: 1;
        height: 280px;
      }
  }
@media all and (max-width: 684px) {
  .tf-flecha1 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 355px;
    z-index: 1;
    height: 18px;
  }
  .tf-flecha2 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 195px;
    z-index: 1;
    height: 18px;
  }

}
@media all and (max-width: 520px) {
  .tf-flecha1 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 380px;
    z-index: 1;
    height: 18px;
  }
  .tf-flecha2 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 195px;
    z-index: 1;
    height: 18px;
  }
}
@media all and (max-width: 460px) {
  .tf-flecha1 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 405px;
    z-index: 1;
    height: 18px;
  }
  .tf-flecha2 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 218px;
    z-index: 1;
    height: 18px;
  }
}
@media all and (max-width: 400px) {
  .tf-flecha1 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 430px;
    z-index: 1;
    height: 18px;
  }
  .tf-flecha2 {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 240px;
    z-index: 1;
    height: 18px;
  }
}
