.soc-page22 {
    background: url(images/page_022/img_002.svg) top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 }

 .outline{
    outline: solid 2px #f29205;
    outline-offset: -3px;
}
#page_022{
    min-height: 1060px;
}

@media all and (max-width: 440px) {

    .soc-page22 {
        background: url(images/page_022/img_002.svg) top left/ cover no-repeat !important;
     }

     .cohete {
        transform: rotate(90deg);
     }

     #page_022{
        min-height: 800px !important;
    }
}