.cuadrado-naranja {
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 96% 100%, 8% 100%);
  background-color: #f29205;
  height: 87px;
}
.cabecera {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
  background-color: var(--bulma);
  height: 180px;
}
.caja {
  background-image: url(../5B/images/page_013/img_001.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px 10px 10px;
}
.altura {
  min-height: 80px;
  text-align: center;
}
.distribucion {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: block;
}
.centrar {
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .ajuste-A {
    max-width: 100%;
  }
  .ajuste-B {
max-width: 175%;
  }
  .ajuste-C {
    max-width: 100%;
  }
  .altura {
    min-height: 80px;
    text-align: center;
    padding-bottom: px;
}
}
@media (max-width: 770px) {
    .ajuste-A {
      max-width: 150px;
    }
    .ajuste-AA {
        max-width: 150px;
    }
    .ajuste-B {
      min-width: 100%;
    }
    .ajuste-BB {
        max-width: 150px;
    }
    .ajuste-C {
      min-width: 100px;
    }
    .altura {
      min-height: 80px;
      max-width: 100px;
      text-align: center;
      padding-bottom: px;
  }
  }
  @media (max-width: 992px) {
  .tf-rotar {
    transform: rotate(90deg);
    padding-top: 100px !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-left: 115px;
  }
}
@media (max-width: 770px) {
  .ajuste-A {
      max-width: 130px;
    }
    .ajuste-B {
      m-width: 100px;
    }
    .ajuste-C {
      max-width: 130px;
    }
}
  @media (max-width: 670px) {
    .ajuste-A {
        min-width: 450px;
      }
      .ajuste-B {
        min-width: 450px;
      }
      .ajuste-C {
        min-width: 450px;
      }
  }
  @media (max-width: 576px) {
    .ajuste-A {
        min-width: 350px;
      }
      .ajuste-B {
        min-width: 350px;
      }
      .ajuste-C {
        min-width: 350px;
      }
      .cambio {
        padding: 0;
      }
    .cabecera {
        height: 420px;
      }
    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
      }
    .centrar {
        text-align: center;
        padding: 10px 13px 0px 13px  !important;
        justify-content: center;
      }
  }
  @media (max-width: 470px) {
    .ajuste-A {
        min-width: 250px;
      }
      .ajuste-B {
        min-width: 250px;
      }
      .ajuste-C {
        min-width: 250px;
      }
    }
    @media (max-width: 370px) {
        .ajuste-A {
            min-width: 200px;
          }
          .ajuste-B {
            min-width: 200px;
          }
          .ajuste-C {
            min-width: 200px;
          }
        }