.cuadrado-verde{
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 8% 100%);
      clip-path: polygon(0 0%, 100% 0, 96% 100%, 8% 100%);
      background-color: #F29205;
      height: 87px;
  }
  
  .cabecera{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--android18);
    height: 210px;
  }
  .caja {
    background-image: url(../5B/images/page_033/img_001.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 10px 10px 10px;
  }
  .container-row{
    margin-left: 20px;
    margin-right: 20px;
    
    } 
  @media (max-width: 576px) {
  .cambio {
    padding: 0;
  }
  .cabecera {
    height: 320px;
  }
  .rotar {
    transform: rotate(90deg);
    margin: 10px;
    width: 20px;
  }
  .centrar {
    text-align: center;
    padding: 10px 13px 0px 13px  !important;
    justify-content: center;
  }
  }
  .cajita{
    z-index: 2;
    margin-left: 330px;
    margin-top: 30px;
    
  }
  
  .caja1{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .niño{
    margin-top: 380px;
    margin-right: 380px;
    
  }
  
  .linea1{
    margin: 0 auto;
   
  }

  @media all and (max-width: 992px){

   .niño{
     display:none;
   }
    
    

      }
  
  @media all and (max-width: 680px) {
  .cambio {
  padding: 0;
  }
  .cabecera {
  height: 425px;
  }
  .rotar {
  transform: rotate(90deg);
  margin: 10px;
  width: 20px;
  }
  .centrar {
  text-align: center;
  padding: 10px 13px 0px 13px  !important;
  justify-content: center;
  }
  }
  
  