.cb-cabecera{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0% 100%);
    background-color: var(--saitama);
    height: 80px;
  }



/*abajo redondeado / arriba plano */
.rounded-seb-10 {
  border-radius: 0px 0px 10px 10px;
}
.rounded-set-10 {
  border-radius: 10px 10px 0px 0px;
}


.alinea{
  margin: 0 auto;
}

.flecha{

  
}


.cuaderno-linea{
  border-bottom: 2px dotted black;
  padding-top: 32px;
  padding-bottom: 1px;
  }