.cabecera{
    -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 0%, 8% 0%);
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    background-color: var(--android18);
    height: 130px;
  }
  
  
  .container-row{
    margin-left: 20px;
    margin-right: 20px;
    
    } 
    
    .cajota{
      height: 800px;
      margin-left:40px;
      margin-right:40px;
     
      
    }
 

    .paleta{
      top: 260px;
      left: 725px;
      transform: translate(-50%, -50%);
      height: auto;
      width: 160px;
      text-align: center;
      
    }

    .pincel{
        top: 550px;
        left: 95px;
        transform: translate(-50%, -50%);
        height: auto;
        width: 45px;
        text-align: center;
        
      }

      .pintor{
        top: 940px;
        left: 100px;
        transform: translate(-50%, -50%);
        height: auto;
        width: 600px;
        text-align: center;
        
      }
    
      .afiche{
        top: 890px;
        left: 600px;
        transform: translate(-50%, -50%);
        height: auto;
        width: 400px;
        text-align: center;
        
      }
     
        
        @media (max-width: 992px) {
          .paleta{
            top: 260px;
            left: 725px;
            transform: translate(-50%, -50%);
            height: auto;
            width: 160px;
            text-align: center;
            display: none;
          }
      
          .pincel{
              top: 550px;
              left: 95px;
              transform: translate(-50%, -50%);
              height: auto;
              width: 45px;
              text-align: center;
              display: none;
            }
      
            .pintor{
              top: 940px;
              left: 100px;
              transform: translate(-50%, -50%);
              height: auto;
              width: 350px;
              text-align: center;
              display: none;
            }
            .afiche{
                top: 890px;
                left: 620px;
                transform: translate(-50%, -50%);
                height: auto;
                width: 600px;
                text-align: center;
                display: none;
              }
        }
        @media (max-width: 576px) {
          .cajota{
            margin: 0 auto; 
            
            }
        }

        