.cb-page19 {
    background: url(images/page_019/fondo_001.svg) top center/cover no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  .cb-inicio {
    margin-bottom: 60px;
  }
  .style-title {
    font-size: 16px;
    font-family: Ubuntu-B, sans-serif;
    text-align: left !important;
  }
  .style-text {
    font-size: 16px;
    font-family: Ubuntu-r, sans-serif;
    text-align: left !important;
  }
  .style-puzzle {
    font-size: 16px;
    font-family: Ubuntu-m, sans-serif;
    text-align: center !important;
  }
  .block-bottom {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
  }
  .caja {
    width: 35px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
  }
  .ajuste-top {
    padding-top: 60px;
  }
  .bgc-zoe {
      background-color: #76ccc9
  }
  .tf-mapa {
    display: flex;
    position: absolute;
    left: 20px;
    top: 100px;
    z-index: 1;
}
.tf-estrella {
    display: flex;
    position: absolute;
    right: 30px;
    top: 120px;
    z-index: 1;
}
.tf-play {
    display: flex;
    position: absolute;
    right: 190px;
    top: 185px;
    z-index: 1;
}
.tf-bloque {
    display: flex;
    position: absolute;
    right: 30px;
    top: 200px;
    z-index: 1;
}
.tf-frase {
    display: flex;
    position: absolute;
    right: 30px;
    top: 200px;
    z-index: 1;
}
@media all and (max-width: 765px) {
    .ajuste-top {
        padding-top: 100px;
      }
}