.cuadrado-naranja{
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 96% 100%, 8% 100%);
    background-color: #F29205;
    height: 87px;
  }
  
.cabecera{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
    background-color: var(--bulma);
    height: 180px;
  }

.tf-outlineblanco{
    outline: solid 2px #f8f7f6;
    outline-offset: -3px;
}

.tf-ajuste-cuadro {
  height: 60px;
}

.espiral-A-grande {
  position: absolute;
  margin-left: 15px;
}

.espiral-B-grande {
  position: absolute;
  margin-right: 35px;
  margin-left: 120px;
}

.contenedor-espiral-B{
  margin-top: 0px;
  margin-left: 0px;
}

.espacioblanco{
  height: 160px;
}

.rect-sesion{
    background-color: #ffcc00;
    border: 4px solid white;
    padding: 5px 8px 0px 8px;
    box-shadow: 2px 2px 1px 0px #9f9f9f;
  }
  
.cuadro-selec {
    background-color: #C3E3F5;
    display: block;
    width: 200px;
    padding: .5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .45rem center;
    background-size: 16px 12px;
    border: 0px solid #ced4da;
    border-radius: .3rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
.rounded-caja {
    border-radius: 20px 20px 0px 0px;
  }
  
.msp--150{
  margin-left: -150;
}  

.col-parrafo {
  justify-content: none !important;
}

.caja {
    background-image: url(../5B/images/page_013/img_001.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 10px 10px 10px;
  }

  .alinea {
    margin: 0 auto;
  }
  


  @media (max-width: 992px) {
    .cabecera {
      height: 245px;
    }
    .centrar {
      justify-content: center;
    }
    .col-parrafo {
      justify-content: center !important;
      width: 100%;
    }

    .tf-rotar {
      transform: rotate(90deg);
      padding-top: 100px !important;
      justify-content: center !important;
      margin: 0 auto !important;
      padding-left: 115px;
    }

    .tf-rotar-B {
      transform: rotate(90deg);
      padding-top: 155px !important;
      justify-content: center !important;
      margin: 0 auto !important;
      padding-left: 0px;
    }

    .contenedor-espiral-B{
      margin-top: -120px;
    }
  }






@media (max-width: 750px) {
    .cabecera {
      height: 245px;
    }
    .centrar {
      justify-content: center;
    }
    .col-parrafo {
      justify-content: center !important;
      width: 100%;
    }

    .tf-rotar {
      transform: rotate(90deg);
      padding-top: 100px !important;
      justify-content: center !important;
      margin: 0 auto !important;
      padding-left: 83px;
    }

    .tf-rotar-B {
      transform: rotate(90deg);
      padding-top: 100px !important;
      justify-content: center !important;
      margin: 0 auto !important;
      padding-left: 83px;
    }
  }



@media (max-width: 576px) {
  .cambio {
    padding: 0;
  }
  .cabecera {
    height: 420px;
  }
  .rotar {
    transform: rotate(90deg);
    margin: 10px;
    width: 20px;
  }
  .centrar {
    text-align: center;
    padding: 10px 13px 0px 13px  !important;
    justify-content: center;
  }

  .col-parrafo {
    justify-content: center !important;
    width: 100%;
  }

  .tf-rotar {
    transform: rotate(90deg);
    padding-top: 100px !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-left: 83px;
  }

  .tf-rotar-B {
    transform: rotate(90deg);
    padding-top: 100px !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-left: 83px;
  }

}

@media all and (max-width: 450px) {

  .fila-ancho {
    margin-left: 50px !important;
    margin-right: 50px !important;

  }

  .col-parrafo {
    justify-content: center !important;
    width: 100%;
  
  }

  .espiral4 {
    position: absolute;
    margin-top: 60px !important;
  }


  .tf-rotar {
    transform: rotate(90deg);
    padding-top: 100px !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-left: 83px;
  }

  .tf-rotar-B {
    transform: rotate(90deg);
    padding-top: 100px !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-left: 83px;
  }


  .ajuste-cuadro {
    height: 70px;
    margin-left: 0px !important;
    margin-right: 0px;
  }


  .ajuste-cuadro2 {
    height: 90px;
    margin-left: 0px !important;
    margin-right: 0px;
  }

}