.cb-page79 {
    background: url(images/page_079/fondo_001.svg) top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 
 }

.cb-block-superior {
    background-color: white;
    max-width: 500px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: calc(100% - 30px);
}

.line-dotted {
    border: 1px dashed #dedede;
}

.cb-block-arriba {
    max-width: 590px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}

.cb-block-inicial {
    max-width: 590px;
    background-color: white;
    border: 1px solid var(--pikachu);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    position: relative;
    width: calc(100% - 30px);
}

.rounded-caja {
    border-radius: 20px 20px 0px 0px;
}

.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color:var(--lightDark);
}

  .cb-personajetabla{
    display: none;
  }
  
  .cb-globotexto{
    display: none;
  }
  
  .cb-arrow{
    display: none;
  }
  .cb-desliza{
    display: none;
  }
  .cb-mt{
    margin-top: 50px;
  }
  
  .cb-bgccuaderno-1{
    background-color: var(--android18);
    margin: -18px -18px 25px -18px;
    border-radius: 8px 8px 0px 0px;
    padding: 15px 10px;
  }
  .cb-bgccuaderno-2{
    background-color: var(--pidgey);
    margin: -18px -18px 25px -18px;
    border-radius: 8px 8px 0px 0px;
    padding: 15px 10px;
  }

  .cb-contenedor {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }
  
  .cb-block-cuaderno {
    border: 2px solid #ffffff;
    border-radius: 10px;
    max-width: 280px;
    width: 100%;

  }
  .cb-block {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
  }
  .cb-w {
      width:300px
  }
  .block-table {
    width: 660px;
  }
  
  .block-table-parent {
    border-radius: 4px;
    max-width: 590px;
    margin: 20px auto 0;
    position: relative;
    width: calc(100% - 10px);
    padding: 20px;
    overflow: auto;
  }
  .block-table-parent {
    padding: 6px;
  }
  
  table { 
    border-top: 0px !important;
    table-layout: fixed; 
    border-color: var(--obiwan) !important;
    margin-bottom: 0px !important;
  }
  
  table th, table td { 
    overflow: hidden; 
    font-size: 12px;
  }
  
  
  table thead tr{
    border-top: 0 !important;
  }
  
  tr th:nth-child(2) { width: 50px; }
  tr th:nth-child(3) { width: 60px; }
  tr th:nth-child(4) { width: 100px; }
  tr th:nth-child(5) { width: 70px; }
  tr th {
    font-size: 12px;
    padding: 5px !important;
  }
  
  tbody tr th {
    background: var(--draco) !important;
    font-weight: 300;
  }
  
  tbody td{
    background-color: var(--white) !important;
    font-weight: 300;
  }
  
  .xtable-head-orange {
    color: #fff;
    background: var(--obiwan) !important;
    border-color: #f4e6f0 !important;
  }
  
  .xtable-head-first {
    border: 0 !important;
    font-weight: 300;
  }
  
  .cb-mapa{
    position: absolute;
    left: -90px;
    top: -24px;
  }

  .cb-estrella{
    position: absolute;
    right: -33px;
    top: -7px;
  }
  
  .cb-calendario{
    position: absolute;
    right: -56px;
    top: -41px;
    transform: rotate(-20deg);
  }
  .cb-lupa{
    position: absolute;
    right: -20px;
    bottom: -8px
  }
  .cb-megafono{
    position: absolute;
    right: -60px;
    top: -239px;
  }
  .cb-tablero{
    position: absolute;
    left: -80px;
    top: -120px;
    width: 80px;
  }
  .cb-binoculares{
    position: absolute;
    left: -30px;
    bottom: -40px;
    transform: rotate(20deg);
  }
  .cb-espiral{
  position: absolute;
  right: 265px;
  bottom: 40px;
  width: 53px;
  }
  .cb-dosier {
    width: 100%;
  }
  .cb-column-line {
    max-width: 200px;
    width: calc(100% / 3);
  }
  .cb-firmas {
    display: flex;
  }

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

@media all and (max-width: 829px) {
  .cb-page79 {
     background: url(images/page_079/fondo_000.svg) top left/ cover no-repeat !important;
     }

}
@media all and (max-width:780px) {

  .cb-page79 {
    background: url(images/page_079/fondo_005.svg) top left/ cover no-repeat !important;
   }
   .cb-contenedor{
    display: inline;
  }
  .cb-block-cuaderno{
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .cb-mapa{
      display: none;
  }
  .cb-estrella{
      display: none;
  }
  .cb-calendario{
      display: none;
  }
  .cb-lupa{
      display: none;
  }
  .cb-megafono{
      display: none;
  }
  .cb-tablero{
      display: none;
  }
  .cb-binoculares{
      display: none;
  }

}
@media all and (max-width: 650px) {

    .cb-personajetabla{
      position: absolute;
      left: 9px;
      bottom: -84px;
      display: flex;
      height: 65px;
    }
    .cb-mb{
      margin-bottom: 120px;
    }
    .fade-in {
        animation: fadeIn ease 2s;
        -webkit-animation: fadeIn ease 2s;
      }
    .cb-globotexto{
      position: absolute;
      left: 70px;
      bottom: -75px;
      display: flex;
      width: 165px;
    }
    .cb-desliza{
      position: absolute;
      left: 100px;
      bottom: -75px;
      display: flex;
      max-width: 130px;
    }
    .cb-arrow{
      position: absolute;
      left: 240px;
      bottom: -40px;
      max-width: 50px;
      display: flex;
      transform: rotate(-27grad);
    }
    .cb-mt{
      margin-top: 110px;
    }
      
  }
  

