.cb-page19 {
    background: url(images/page_019/fondo_001.svg) top center/cover no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  .cb-inicio {
    margin-bottom: 60px;
  }
  .cb-dossier {
    width: 100%;
  }
  .style-title {
    font-size: 16px;
    font-family: Ubuntu-B, sans-serif;
    text-align: left !important;
  }
  .style-text {
    font-size: 16px;
    font-family: Ubuntu-r, sans-serif;
    text-align: left !important;
    max-width: 75%;
  }
  .style-text-b {
    font-size: 16px;
    font-family: Ubuntu-r, sans-serif;
    text-align: left !important;
    max-width: 40%;
  }
  .style-puzzle {
    font-size: 16px;
    font-family: Ubuntu-m, sans-serif;
    text-align: center !important;
  }
  .block-bottom {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
  }
  .caja {
    width: 35px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
  }
  .bloque {
    min-width: 100px;
    min-height: 150px;
  }
  .bgc-zoe {
      background-color: #76ccc9
  }
  .tf-mapa {
    display: flex;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 1;
}
.tf-estrella {
    display: flex;
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 1;
}
.tf-play {
    display: flex;
    position: absolute;
    right: 190px;
    top: 125px;
    z-index: 1;
}
.tf-bloque {
    display: flex;
    position: absolute;
    right: 30px;
    top: 140px;
    z-index: 1;
}
.tf-carta {
  display: flex;
  position: absolute;
  left: 50px;
  top: 310px;
  z-index: 1;
}
.tf-celular {
  display: flex;
  position: absolute;
  right: 40px;
  top: 290px;
  z-index: 1;
}
.tf-claqueta {
  display: flex;
  position: absolute;
  left: 60px;
  bottom: 175px;
  z-index: 1;
}
.tf-camara {
  display: flex;
  position: absolute;
  right: 45px;
  bottom: 180px;
  z-index: 1;
}
.tf-presentacion {
  display: flex;
  position: absolute;
  right: 90px;
  bottom: 0px;
  z-index: 1;
}
.tf-metro {
  display: flex;
  position: absolute;
  left: 30px;
  bottom: -10px;
  z-index: 1;
}


@media all and (max-width: 765px) {
    .ajuste-top {
        padding-top: 100px;
      }
      .style-text {
        font-size: 16px;
        font-family: Ubuntu-r, sans-serif;
        text-align: left !important;
      }
      .tf-mapa {
        display: flex;
        position: absolute;
        left: 0px;
        top: 40px;
        z-index: 1;
    }
    .tf-estrella {
        display: flex;
        position: absolute;
        right: 30px;
        top: 60px;
        z-index: 1;
    }
    .tf-play {
        display: flex;
        position: absolute;
        top: 135px;
        right: 150px;
        z-index: 1;
    }
    .tf-bloque {
        display: flex;
        position: absolute;
        right: 30px;
        top: 190px;
        z-index: 1;
    }
    .tf-carta {
      display: flex;
      position: absolute;
      left: 50px;
      top: 340px;
      z-index: 1;
    }
    .tf-celular {
      display: flex;
      position: absolute;
      right: 40px;
      top: 590px;
      z-index: 1;
    }
    .tf-claqueta {
      display: flex;
      position: absolute;
      left: 60px;
      bottom: 510px;
      z-index: 1;
    }
    .tf-camara {
      display: flex;
      position: absolute;
      right: 45px;
      bottom: 220px;
      z-index: 1;
    }
    .tf-presentacion {
      display: flex;
      position: absolute;
      right: 60px;
      bottom: 20px;
      z-index: 1;
      transform: scale(0.9);
    }
    .tf-metro {
      display: flex;
      position: absolute;
      left: 30px;
      bottom: 25px;
      z-index: 1;
    }
  }