.cuadrado-naranja {
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 96% 100%, 8% 100%);
  background-color: #f29205;
  height: 87px;
}
.cabecera {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 93%);
  background-color: var(--bulma);
  height: 180px;
}
.caja {
  background-image: url(../5B/images/page_013/img_001.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px 10px 10px;
}
.altura {
  min-height: 80px;
  text-align: center;
}
.distribucion {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: block;
}
.centrar {
  justify-content: center;
  align-items: center;
}
.tf-ge {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 60px;
  top: 200px;
  z-index:1;
  height: 25px
}
.izq-1 {
  display: none;
  visibility: hidden;
}
.izq-2 {
  display: none;
  visibility: hidden;
}
.izq-3 {
  display: none;
  visibility: hidden;
}
.izq-4 {
  display: none;
  visibility: hidden;
}
.izq-5 {
  display: none;
  visibility: hidden;
}
.izq-6 {
  display: none;
  visibility: hidden;
}
.izq-7 {
  display: none;
  visibility: hidden;
}
.izq-8 {
  display: none;
  visibility: hidden;
}
.der-1 {
  display: none;
  visibility: hidden;
}
.der-2 {
  display: none;
  visibility: hidden;
}
.der-3 {
  display: none;
  visibility: hidden;
}
.der-4 {
  display: none;
  visibility: hidden;
}
.der-5 {
  display: none;
  visibility: hidden;
}
.der-6 {
  display: none;
  visibility: hidden;
}
.der-7 {
  display: none;
  visibility: hidden;
}
.der-8 {
  display: none;
  visibility: hidden;
}
@media (min-width: 852px) {
.izq-1 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 320px;
  z-index:1;
  height: 8px
}
.izq-2 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 430px;
  z-index:1;
  height: 8px
}
.izq-3 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 545px;
  z-index:1;
  height: 8px
}
.izq-4 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 660px;
  z-index:1;
  height: 8px
}
.izq-5 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 775px;
  z-index:1;
  height: 8px
}
.izq-6 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 890px;
  z-index:1;
  height: 8px
}
.izq-7 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 1005px;
  z-index:1;
  height: 8px
}
.izq-8 {
  display: flex;
  visibility: visible;
  position: absolute;
  left: 182px;
  top: 1120px;
  z-index:1;
  height: 8px
}
.der-1 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 320px;
  z-index:1;
  height: 8px
}
.der-2 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 430px;
  z-index:1;
  height: 8px
}
.der-3 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 545px;
  z-index:1;
  height: 8px
}
.der-4 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 660px;
  z-index:1;
  height: 8px
}
.der-5 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 775px;
  z-index:1;
  height: 8px
}
.der-6 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 890px;
  z-index:1;
  height: 8px
}
.der-7 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 1005px;
  z-index:1;
  height: 8px
}
.der-8 {
  display: flex;
  visibility: visible;
  position: absolute;
  right: 182px;
  top: 1120px;
  z-index:1;
  height: 8px
}
}
  @media (max-width: 992px) {
  .tf-rotar {
    transform: rotate(90deg);
    padding-top: 100px !important;
    justify-content: center !important;
    margin: 0 auto !important;
    padding-left: 115px;
  }

@media (max-width: 770px) {
  .ajuste-A {
      min-width: 500px;
    }
    .ajuste-B {
      min-width: 500px;
    }
    .ajuste-C {
      min-width: 500px;
      padding-top: 30px;
    }
    .altura {
      min-height: 80px;
      max-width: 100px;
      text-align: center;
      padding-bottom: px;
  }
}
}
  @media (max-width: 670px) {
    .ajuste-A {
        min-width: 450px;
      }
      .ajuste-B {
        min-width: 450px;
      }
      .ajuste-C {
        min-width: 450px;
      }
  }
  @media (max-width: 576px) {
    .ajuste-A {
        min-width: 350px;
      }
      .ajuste-B {
        min-width: 350px;
      }
      .ajuste-C {
        min-width: 350px;
      }
      .cambio {
        padding: 0;
      }
    .cabecera {
        height: 420px;
      }
    .rotar {
        transform: rotate(90deg);
        margin: 10px;
        width: 20px;
      }
    .centrar {
        text-align: center;
        padding: 10px 13px 0px 13px  !important;
        justify-content: center;
      }
  }
  @media (max-width: 470px) {
    .ajuste-A {
        min-width: 250px;
      }
      .ajuste-B {
        min-width: 250px;
      }
      .ajuste-C {
        min-width: 250px;
      }
    }
    @media (max-width: 370px) {
        .ajuste-A {
            min-width: 200px;
          }
          .ajuste-B {
            min-width: 200px;
          }
          .ajuste-C {
            min-width: 200px;
          }
        }