/* FONTS */
@font-face {
  font-family: "ccdigitaldelivery-bold";
  src: url("../fonts/ccdigitaldelivery-bold.otf");
}

@font-face {
  font-family: "colby-bold";
  src: url("../fonts/colby-bold.ttf") format("truetype");
}

@font-face {
  font-family: "durotype-aspiranar-bold";
  src: url("../fonts/durotype-aspiranar-bold.otf");
}

@font-face {
  font-family: "hanoded-butterflyball";
  src: url("../fonts/hanoded-butterflyball.otf");
}

@font-face {
  font-family: "IntroRustG-Base";
  src: url("../fonts/IntroRustG-Base.otf");
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url("../fonts/MinionPro-Regular.otf");
}

@font-face {
  font-family: "Montara-Gothic";
  src: url("../fonts/Montara-Gothic.otf");
}

@font-face {
  font-family: "pixilate-bold";
  src: url("../fonts/pixilate-jollygood-proper-condensed-bold.otf");
}

@font-face {
  font-family: "pixilate-extrabold";
  src: url("../fonts/pixilate-jollygood-proper-condensed-extrabold.otf");
}

@font-face {
  font-family: "pixilate-italic";
  src: url("../fonts/pixilate-jollygood-proper-condensed-italic.otf");
}

@font-face {
  font-family: "pixilate-regular";
  src: url("../fonts/pixilate-jollygood-proper-condensed-regular.otf");
}

@font-face {
  font-family: "pixilate-semibold";
  src: url("../fonts/pixilate-jollygood-proper-condensed-semibold.otf");
}

@font-face {
  font-family: "Ubuntu-B";
  src: url("../fonts/Ubuntu-B.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-L";
  src: url("../fonts/Ubuntu-L.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-LI";
  src: url("../fonts/Ubuntu-LI.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-M";
  src: url("../fonts/Ubuntu-M.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-R";
  src: url("../fonts/Ubuntu-R.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-RI";
  src: url("../fonts/Ubuntu-RI.ttf") format("truetype");
}

@font-face {
  font-family: "ZapfDingbatsStd";
  src: url("../fonts/ZapfDingbatsStd.otf");
}

/* FONTS HELPERS */
.f-ccdigitaldelivery-bold {
  font-family: "ccdigitaldelivery-bold", sans-serif;
}
.f-colby-bold {
  font-family: "colby-bold", sans-serif;
}
.f-durotype-aspiranar-bold {
  font-family: "durotype-aspiranar-bold", sans-serif;
}
.f-hanoded-butterflyball {
  font-family: "hanoded-butterflyball", sans-serif;
}
.f-IntroRustG-Base {
  font-family: "IntroRustG-Base", sans-serif;
}
.f-MinionPro-Regular {
  font-family: "MinionPro-Regular", sans-serif;
}
.f-Montara-Gothic {
  font-family: "Montara-Gothic", sans-serif;
}
.f-pixilate-bold {
  font-family: "pixilate-bold", sans-serif;
}
.f-pixilate-extrabold {
  font-family: "pixilate-extrabold", sans-serif;
}
.f-pixilate-italic {
  font-family: "pixilate-italic", sans-serif;
}
.f-pixilate-regular {
  font-family: "pixilate-regular", sans-serif;
}
.f-pixilate-semibold {
  font-family: "pixilate-semibold", sans-serif;
}
.f-Ubuntu-L {
  font-family: "f-Ubuntu-L", sans-serif;
}
.f-Ubuntu-LI {
  font-family: "Ubuntu-LI", sans-serif;
}
.f-Ubuntu-M {
  font-family: "Ubuntu-M", sans-serif;
}
.f-Ubuntu-R {
  font-family: "Ubuntu-R", sans-serif;
}
.f-Ubuntu-RI {
  font-family: "Ubuntu-RI", sans-serif;
}
.f-ZapfDingbatsStd {
  font-family: "ZapfDingbatsStd", sans-serif;
}
