.cb-page09 {
    background: url(images/page_009/fondo_003.svg) top center/cover no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  .outlineclau {
    outline: solid 1px var(--goten);
    outline-offset: 2px;
}
.cb-dosier {
  width: 50%;
}