.bgc-fondo-p22-1 {
    background: url(images/page_022/img_001.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }