.bgc-fondo-1 {
    background: url(images/page_017/cuadro_001.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  
.bgc-fondo-2 {
    background: url(images/page_017/cuadro_002.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  
.bgc-fondo-3 {
    background: url(images/page_017/cuadro_003.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  
.bgc-fondo-4 {
    background: url(images/page_017/cuadro_004.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  
.bgc-fondo-5 {
    background: url(images/page_017/cuadro_005.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  
.bgc-fondo-6 {
    background: url(images/page_017/cuadro_006.png) top center/contain no-repeat;
    width: 100% !important;
    height: 100% !important;
    -webkit-print-color-adjust: exact !important;
  }
  