.cb-page9 {
    background: url(images/page_009/fondo_003.svg) top left/ cover no-repeat !important;
     -webkit-print-color-adjust: exact !important;
 
 }
 .cb-block-arriba-p09 {
    max-width: 590px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}
.cb-block-superior-p09 {
    background-color: white;
    max-width: 550px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: calc(100% - 30px);
}
.cb-block-inicial-etapa-p09 {
    background-color: white;
    max-width: 550px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: calc(100% - 30px);
    height: 60px;
}

.line-dotted {
    border: 1px dashed #dedede;
}

.cb-block-arriba {
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}

.cb-block-inicial {
    max-width: 550px;
    background-color: white;
    border: 1px solid var(--goten);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    position: relative;
    width: calc(100% - 30px);
}

.cb-outline_pg9{
    outline: solid 1px var(--soldados);
    outline-offset: 2px;
}
.rounded-caja {
    border-radius: 20px 20px 0px 0px;
}

.linea {
    border-bottom: 1px dashed #dedede;
    padding-top: 5px;
    border-color:var(--lightDark);
}

  .cb-camara-p09{
    position: absolute;
    left: -50px;
    bottom: -14px;
    width: 70px;
    transform: rotate(-30deg);
  }
  .cb-celu-p09{
    position: absolute;
    right: -50px;
    top: 136px;
    width: 60px;
  }

  .cb-lupa-p09{
    position: absolute;
    left: -23px;
    top: -35px;
    height: 70px;
  }
  .cb-computador-p09{
    position: absolute;
    right: -53px;
    top: -15px;
    width: 90px;
    z-index: 1;
  }
  
  .cb-celular-p09{
    position: absolute;
    left: -56px;
    top: 9px;
}
.cb-globo-p09{
    position: absolute;
    right: -110px;
    bottom: -38px;
    z-index: 1;
}
.cb-tiempo-p09{
    position: absolute;
    left: -120px;
    top: 178px;
}

.cb-dosier {
    width: 50%;
}

@media all and (max-width: 829px) {
    .cb-page9 {
        background: url(images/page_009/fondo_004.svg) top left/ cover no-repeat !important;
     }

}

@media all and (max-width: 680px) {

    .cb-page9 {
        background: url(images/page_009/fondo_004.svg) top left/ cover no-repeat !important;
     }
    .titulo-linea .linea{
        width: 100%;
    }

    .cb-camara-p09{
        display: none;
    }
    .cb-lupa-p09{
        display: none;
    }
    .cb-celu-p09{
        display: none;
    }
    .cb-tiempo-p09{
        display: none;
    }
    .cb-computador-p09{
        display: none;
    }
    .cb-globo-p09{
        display: none;
    }
}