.espiral{
  background-image: url(images/page_045/espiral.png);
  background-repeat: repeat;
  background-size: contain;
  /* background-color: #ffcc00; */
}
.espiral-calado{
  background-image: url(images/page_045/espiral_1.png);
  background-repeat: repeat;
  background-size: contain;
}

.rota{
  transform: rotate(1deg);
}