.caja-p16 {
    width: 70%;
}

.bloque-p16 {
    height: 40px;
    min-width: 180px;
}

.border-solo-top {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

@media (max-width: 800px) {
    .caja-p16 {
        width: 60%;
    }
}