.cajafoto-p34 {
  width: 167px;
  height: 155px;
}

.cuadrado-p34 {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  background: #ffffff;
  border-color: var(--lightDark);
  border: 1px solid;
}

.foto1-p34 {
  background-image: url(images/page_034/img_001.jpg);
  background-repeat: no-repeat;
}

.foto2-p34 {
  background-image: url(images/page_034/img_002.jpg);
  background-repeat: no-repeat;
}

.foto3-p34 {
  background-image: url(images/page_034/img_003.jpg);
  background-repeat: no-repeat;
}

.foto4-p34 {
  background-image: url(images/page_034/img_004.jpg);
  background-repeat: no-repeat;
}

.foto5-p34 {
  background-image: url(images/page_034/img_005.jpg);
  background-repeat: no-repeat;
}

.foto6-p34 {
  background-image: url(images/page_034/img_006.jpg);
  background-repeat: no-repeat;
}

.foto7-p34 {
  background-image: url(images/page_034/img_007.jpg);
  background-repeat: no-repeat;
}

.foto8-p34 {
  background-image: url(images/page_034/img_008.jpg);
  background-repeat: no-repeat;
}

@media all and (min-width: 767px) {
  .disposicion-imagenes {
    display: flex;
  }

  .posicion-check-1 {
    margin-left: 70px;
    margin-top: -10px;
  }

  .posicion-check-2 {
    margin-left: 70px;
    margin-top: -166px;
  }

  .disposicion-palabra {
    justify-content: space-around !important;
  }
}

@media all and (max-width: 767px) {
  .disposicion-imagenes {
    display: column;
  }

  .posicion-check-1 {
    margin-left: 152px;
    margin-top: -95px;
  }

  .posicion-check-2 {
    margin-left: -15px;
    margin-top: -95px;
  }

  .disposicion-palabra {
    justify-content: center;
  }
}