.cambio{
  left: 100% !important;
  top: 50% !important;
}
.cambio1{
  left: 0% !important;
  top: 50% !important;
}

/* @include media-breakpoint-up(sm) {
  .cambio{
    left: 100% !important;
    top: 50% !important;
  }
} */

@media (min-width: 768px) {
  .cambio{
    left: 50% !important;
    top: 100% !important;
  }
  .cambio1{
    left: 50% !important;
    top: 0% !important;
  }
}

#svg {
  position: relative;
  top: 0px;
  left: 0;
  background-color: #29e;
}

.linea {
  stroke: #29e;
  stroke-width: 20;
  stroke-linejoin: round;
  fill: none;
}

.handle {
  fill: #fff;
  fill-opacity: 0.4;
  stroke-width: 4;
  stroke: #29e;
}

.marker {
  fill: white;
  stroke: white;
  pointer-events: none;
}