.bgc-trans-tomoe{
    background-color: #a2c70078;
}
.bgc-trans-madoka{
    background-color: #1db0d175;
}
.bgc-trans-homura{
    background-color: #ff9c5675;
}
.max-wp-640 {
    max-width: 640px !important;
}